extends ../../textalive/index

block lang
  - var en = false, lang = 'ja', basePath = `${rootPath}ja/`;

block abstract
  p Kinetic Typographyは、文字を動かして見せることで意味をより深く伝えられる手法として、楽曲のプロモーションなどの動画で頻繁に利用されている。しかし、歌詞を楽曲と同期してアニメーションさせる動画を制作するためには、まず、動画制作ツールの使い方に慣れる必要があった。さらに、歌詞を文字ごとに時刻同期させて動きを手付けするため、多くの手間がかかっていた。
  p TextAliveは、ウェブ上に公開されている楽曲と歌詞の時間的対応付けを自動で推定し、Kinetic Typographyを用いた動画を自動生成する。したがって、事前にツールの使い方を学ばなくても、好みの楽曲のKinetic Typography動画を楽しむことができる。また、生成された動画をウェブ上のグラフィカルなインタフェースで編集でき、一から動画を作るより大幅に少ない手間で動画を制作できる。さらに、文字の動きを定めているアルゴリズムをその場でプログラミングでき、プリセットのテンプレートに縛られない自由な表現が可能である。

block news
  .event: .content
    .date 2015/9/8
    .summary
      | 本研究は
      a(href='http://www.aist.go.jp/aist_j/press_release/pr2015/pr20150908/pr20150908.html') プレスリリース
      | と同時に
      a(href='http://textalive.jp') Webサービスとして一般公開
      | を始めました。ぜひお試しください。
