extends ../_layout

block vars
  - p = projectsTable['intelliviewer'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block main
  +render-project-header('intelliviewer')
  .ui.hidden.divider
  h2.ui.header #{en ? 'Abstract' : '概要'}
  .ui.basic.segment
    block abstract
      p This is a user interface for helping navigation of source code in the integrated development environment. For each row of the keyboard, available namespaces, classes, member variables and methods are shown on the keytops. The user interface works on the prototype 
        a(href='https://www.microsoft.com/appliedsciences/content/projects/AdaptiveHardware.aspx') adaptive keyboard
        |  developed by 
        a(href='https://www.microsoft.com/appliedsciences/') Microsoft Applied Science Group
        | .
      p
        | This work was done in collaboration with lab colleagues and presented at UIST 2010 
        a(href='https://www.acm.org/uist/uist2010/Student_Contest.html') Student Innovation Contest
        | .
    p
      a(href='https://channel9.msdn.com/posts/Microsofts-Adaptive-Keyboard-at-UIST')
        i.video.icon
        | Microsoft Channel9 (UIST '10 interview, 5:55-)
