extends ../index

block lang
  - var en = false, lang = 'ja', basePath = `${rootPath}ja/`;

block about
  .ui.stackable.grid
    .eight.wide.column
      h5.ui.header 研究内容
      p 人とコンピュータの関係を考え、よりよくしていく学問 <strong>&quot;<abbr title="Human-Computer Interaction">HCI</abbr>&quot;</strong> の研究者です。<strong>創作支援</strong>のための<strong>ユーザインタフェース</strong>と<strong>統合環境</strong>設計を専門としています。<strong>統合開発環境 (<abbr title="Integrated Development Environment">IDE</abbr>)</strong>の提案など、<strong>プログラミング体験 (<abbr title="Programming Experience">PX</abbr>)</strong>を向上させる研究を通して、多様な技術的背景を持つ人々が創造性を発揮できるような環境づくりを行ってきました。
    .eight.wide.column
      h5.ui.header 略歴
      p 2014年3月に
        a(href='http://www-ui.is.s.u-tokyo.ac.jp/~takeo/index-j.html') 五十嵐 健夫
        | 教授指導の下で東京大学大学院 情報理工学系研究科 博士課程を修了。博士(情報理工学)。同年より
        a(href='https://www.aist.go.jp/') 国立研究開発法人 産業技術総合研究所 (<abbr title="National Institute of Advanced Industrial Science and Technology">AIST</abbr>)
        |  研究員。Human-Computer Interaction全般、とくにプログラミング体験を向上する研究に従事し、
        a(href='https://sigpx.org') <abbr title="Special Interest Group on Programming Experience">SIGPX</abbr>
        | を設立。ACM CHI 2013/2015 Honorable Mentionなど<a href="/ja/publications/#awards">受賞多数</a>。

block projects
  p この一覧は研究プロジェクトを新しい順に並べたものです。その後に、研究以外のプロジェクトを新しい順に並べたものが続きます。グラフィックデザインとインタラクションデザインの観点で並べた一覧は
    a(href='/ja/design')
      i.paint.brush.icon
      | デザイン
    | にあります。

block contact
  p 電話とFAXはチェックしていないことが多いため、メールか<a href="#sns" class="sns">ソーシャルネットワークサービス</a>経由でのご連絡をおすすめします。
