extends ../index

block lang
  - var lang = 'ja';

block about
  .ui.stackable.grid
    .eight.wide.column
      h5.ui.header 研究内容
      p 人とコンピュータの関係を考え、よりよくしていく学問 <strong>&quot;<abbr title="Human-Computer Interaction">HCI</abbr>&quot;</strong> の研究者です。とくに創作文化を支える技術的多様性に興味があり、<strong>創作支援</strong>のための<strong>ユーザインタフェース、ツール、環境設計</strong>を専門としています。<strong>統合開発環境 (<abbr title="Integrated Development Environment">IDE</abbr>)</strong>で<strong>プログラミング体験 (<abbr title="Programming Experience">PX</abbr>)</strong>を向上させる研究や、Webベースのツールで<strong>音楽動画やアニメの制作プロセス</strong>を支援する研究など、人々が創造性を発揮できる環境づくりに取り組んできました。
    .eight.wide.column
      h5.ui.header 略歴
      p 2014年 東京大学大学院コンピュータ科学専攻 博士課程を修了。同年より
        a(href='https://www.aist.go.jp/') 産業技術総合研究所 (<abbr title="National Institute of Advanced Industrial Science and Technology">AIST</abbr>)
        | 研究員、2018年 主任研究員、2026年 上級主任研究員。2018年より
        a(href='https://research.archinc.jp/') アーチ株式会社
        | 技術顧問を兼務。2024年度パリ＝サクレ大学にVisiting Scientistとして滞在。
        | Human-Computer Interaction、とくに<abbr title="Programming Experience; プログラミング体験">PX</abbr>向上や創造性支援ツールの研究に従事。ACM CHI Honorable Mention (2013, 2015, 2023) や
        a(href='https://blog.junkato.jp/ja/posts/2025-12-28-nistep-sti-hz-vol11no4/') ナイスステップな研究者
        | 選定 (2024) など
        a(href=`${basePath}publications/#awards`) 受賞多数
        | 。

block products
  p 以下の研究成果はクリエイタ向けのWebサービスやプログラマ向けの<abbr title="Application Programming Interface">API</abbr>として一般公開されています。

block projects
  p すべての研究プロジェクトを見るには「
    a(href=`${rootPath}ja/projects`)
      i.gift.icon
      | プロジェクト
    | 」をご覧ください。

block contact
  p 電話は原則チェックしていないため、メールか<a href="#sns" class="sns">ソーシャルネットワークサービス</a>経由でのご連絡をおすすめします。
