extends ../index

block lang
  - var lang = 'ja';

block about
  .ui.stackable.grid
    .eight.wide.column
      h5.ui.header 研究内容
      p 人とコンピュータの関係を考え、よりよくしていく学問 <strong>&quot;<abbr title="Human-Computer Interaction">HCI</abbr>&quot;</strong> の研究者です。<strong>創作支援</strong>のための<strong>ユーザインタフェース</strong>と<strong>統合環境</strong>設計を専門としています。<strong>統合開発環境 (<abbr title="Integrated Development Environment">IDE</abbr>)</strong>の提案など、<strong>プログラミング体験 (<abbr title="Programming Experience">PX</abbr>)</strong>を向上させる研究を通して、多様な技術的背景を持つ人々が創造性を発揮できるような環境づくりを行ってきました。
    .eight.wide.column
      h5.ui.header 略歴
      p 2014年3月 東京大学大学院 博士課程を修了。博士(情報理工学)。同年より
        a(href='https://www.aist.go.jp/') 国立研究開発法人 産業技術総合研究所 (<abbr title="National Institute of Advanced Industrial Science and Technology">AIST</abbr>)
        | 研究員。2018年より主任研究員。同年より
        a(href='https://research.archinc.jp/') アーチ株式会社
        | 技術顧問を兼務。
        | Human-Computer Interaction全般、とくにプログラミング体験を向上する研究に従事し、
        a(href='https://sigpx.org') <abbr title="Special Interest Group on Programming Experience">SIGPX</abbr>
        | を設立。ACM CHI 2013/2015 Honorable Mentionなど
        a(href=`${basePath}publications/#awards`) 受賞多数
        | 。

block concepts
  p <abbr title="Human-Computer Interaction">HCI</abbr>全般に広く興味があり、究極的なゴールとしては人々の創造性に寄与する研究を目指していますが、とくにプログラミング体験(<abbr title="Programming Experience">PX</abbr>)に関する下記のような研究トピックに取り組んできました。具体的な研究プロジェクトについては
    a(href=`${rootPath}ja/projects`)
      i.lab.icon
      | プロジェクト
    | をご覧ください。

block contact
  p 電話とFAXはチェックしていないことが多いため、メールか<a href="#sns" class="sns">ソーシャルネットワークサービス</a>経由でのご連絡をおすすめします。
