extends ../index

block lang
  - var en = false;

block vars
  - var title = '加藤 淳のポートフォリオ';

block about
  p 人とコンピュータの関係を考え、よりよくしていく学問 <strong>&quot;<abbr title="Human-Computer Interaction">HCI</abbr>&quot;</strong> の研究者です。とくに<strong>創作支援</strong>のための<strong>ユーザインタフェース</strong>と<strong>統合環境</strong>設計を専門としています。<strong>統合開発環境 (<abbr title="Integrated Development Environment">IDE</abbr>)</strong>の提案など、<strong>プログラミング体験 (<abbr title="Programming Experience">PX</abbr>)</strong>を向上させる研究を通して、多様な技術的背景を持つ人々が創造性を発揮できるような環境づくりを行ってきました。

block contact
  p 電話とFAXはチェックしていないことが多いため、メールか<a href="#about">ソーシャルネットワークサービス</a>経由でのご連絡をおすすめします。
