extends ../../phybots/index

block lang
  - var lang = 'ja';

block message
  | Phybotsは
  a(href='https://github.com/arcatdmz/phybots/') GitHub
  | にてオープンソースで公開中です。また、ドキュメントやライブラリのダウンロードは 
  a(href='http://phybots.com/ja/') http://phybots.com/ja
  |  から行うことができます。

block abstract
  p ユーザの指示に従って料理や服畳みといった実世界におけるタスクを実行するインタラクティブなロボットアプリケーションが実現しつつある。また、このような高度なアプリケーションの効果的な開発には、プロトタイピングが重要である。しかし、HCI分野で利用されてきた既存のプロトタイピング用ツールキットは、空間内の特定の場所に置かれて使われるアプリケーションを想定している。そのため、プログラマがモビリティを備えたアプリケーションを開発しようとすると、ロボット工学的な困難に直面する。一方で、ロボット工学向けのツールキットは、利用に際し、ある程度の前提知識を必要とするものがほとんどである。
  p 我々は、この学際的な問題を解決するためにツールキットPhybotsを提案した。Phybotsを用いると、HCI研究者やインタラクションデザイナーが、生活空間を動き回れる"Robotic Things"─ロボット的なるもの─をプロトタイピングできる。

block comparison
  table.ui.fluid.table
    thead
      tr
        th 目的:
        th フィジカルコンピューティング
        th.center.aligned Phybots
        th.right.aligned ロボット
    tbody
      tr
        td: strong ターゲット ユーザー:
        td.positive(colspan='2') HCI研究者 &amp; インタラクション デザイナー
        td.negative.right.aligned ロボット工学の研究者
      tr
        td: strong 重視すること:
        td.positive(colspan='2') プロトタイピング
        td.negative.right.aligned 信頼性
      tr
        td: strong ソフトウェアAPI:
        td.negative 低レベルで拡張性に乏しい
        td.positive.right.aligned(colspan='2') 高レベルで拡張性に富む
      tr
        td: strong ハードウェアの大きさ &amp; 価格:
        td.positive(colspan='2')
          | 小さい &amp; 安い (Phidget Kit $200, 
          a(href='http://www.inmojo.com/store/inmojo-market/item/ikimo-robot-platform/') Ikimo Robot
          |  $160)
        td.negative.right.aligned 大きい &amp; 高価 ($700-)
  .caption ツールキットの比較

block vision
  .ui.message
    | 本研究には以下の原稿とは別に<strong>裏</strong>の未来ビジョンが存在する。詳細は
    a(href=`${rootPath}publications/wiss2010-kato-matereal-slides.pdf`) 発表スライド
    | 後半に書いてあり、これが翌年の
    a(href=`${basePath}sharedo/`) Sharedo
    | に繋がっている。
  p 我々はロボットが何であるかを知らない。自分たちで作った言葉であるにも拘らず、言葉が独り歩きし、各々が勝手なイメージを持っている。日本においては、とくに大型で人型の印象が強いようである。しかしながら、既存のロボット研究において一般的に用いられてきた大型のロボットは、ロバストに動作させるためにハードウェアおよび制御用ソフトウェアに高度な作りこみが求められ、かつ高価なため、そもそも多くのソフトウェアプログラマが満足にアプリケーション開発できるだけの環境を用意するのが困難である。また、空間知能化などのキーワードを考えたとき、大型ロボットは動作空間を用意すること自体に手間がかかる。
  p 一方、小型のロボットであればArduino等のPhysical Computing用ツールキットを利用して比較的安価に自作することが容易であり、さまざまな種類のロボットを試作できることが見込まれる。小型であれば机上など多くの場所で動作させることができるだろう。アプリケーションが確立すれば、小型ロボットなら大量生産もしやすく一層安価になることが期待できる。そもそも人間の生活環境における小型ロボットの存在は既存の家電製品との境界が曖昧であり、とくに家電製品をネットワーク越しに操作できるようになったとき境界はほぼ消失すると考えている。このように我々は、ネットワーク家電を含む小型ロボットが複数台・複数種人間の生活環境に溶け込んでいる未来ビジョンを念頭においてツールキットを開発してきたため、本文中のサンプルアプリケーションでも多くの小型ロボットや遠隔操作できるようハックした家電製品を登場させた。
  p 我々が描く未来は、多くの人々、最初は研究者や科学・技術に強い興味のあるプログラマなどに、まずはロボットに触れてもらうところから始まると考えている。触れるということは、そのプログラムやアプリケーションを開発することであり、それによってロボットで何が出来るのか、どうしたら良くなるのかを、広く議論して行きたいということである。そこで我々は、手軽にプロトタイピングを行える共通のスタートラインとしてのツールキットが必要であると考え、Matereal(旧名、現Phybots)の研究開発を行ってきた。現時点ではJava用ライブラリとして提供しているが、Processingや他の言語の開発環境でも利用できるようにして、さらに幅広い層のプログラマにとって魅力的な環境構築を目指していきたい。
