extends ../_layout

block homehack-vars
  - homehack = 'rhythm-kaden';

block homehack-main
  .ui.stackable.grid
    .four.wide.column
      img.ui.fluid.image(src=`${rootPath}homehack/rhythmkaden.jpg`)
    .twelve.wide.column
      p
        | ブラウザゲーム（音楽に合わせて上から降りてくるマーカーのタイミングに合わせてキーを押して得点を稼ぐ音楽ゲーム
        a(href='https://peraichi.com/landing_pages/view/otoge') otoge.net
        | ）の進行を家電製品が盛り上げてくれるアプリケーションを、お茶の水女子大学 西村、神奈川工科大学 藤崎とともに提案、開発した。
      p
        | 本アプリケーションは、Sony CSLとお茶の水女子大学の共催ワークショップ「Home Hacker’s Workshop」の半日のセッションで制作された。また、Sony CSL、大和ハウス、ヤフーの共催イベント「
        a(href='https://www.daiwahouse.co.jp/lab/HousingAPI/symposium/index.html') 住宅をカスタマイズするためのシンポジウム
        | 」で発表され、学生賞を受賞した。
  .ui.stackable.two.columns.grid
    .column
      h3.ui.header 開発環境
      ul
        li Java (プロキシサーバ), JavaScript (Webサービスの改造)
        li
          a(href='https://www.sonycsl.co.jp/tokyo/347/') Kadecot Server
          |  Web API + PC or Mac
      h3.ui.header 資料
      ul
        li
          | 紹介記事: 
          a(href='https://web.archive.org/web/20170625152327/http://kadecot.net/blog/1185/') Home Hacker's Workshop
          | , 
          a(href='https://web.archive.org/web/20170625152327/http://kadecot.net/blog/1189/') Customize YOUR House! シンポジウム
        li
          | 資料: 
          a(href=`${rootPath}homehack/rhythmkaden-poster.pdf`)
            i.icon-file
            | ポスター
          a(href=`${rootPath}homehack/rhythmkaden-slides.pdf`)
            i.icon-play-circle
            | スライド
        li
          | ソースコード: 
          a(href='https://github.com/arcatdmz/rhythmkaden-proxy')
            i.icon-download
            | GitHub
      h3.ui.header 学生賞 選出コメント
      p 私が選出したので受賞理由を説明しますと、このシステムの真意は音ゲーで遊ばないと動作しない家電、というアプリのアイデアではなく、既存のWebアプリを特殊なプロキシサーバを介して書き換えることにより、いかなるWebアプリにも家電機能を追加できるという「家電マッシュアップ」の方式を提案したことにあります。
      p 家電を、温度や照明などの環境を変化させる演出機器だと捉えると、それは様々な(既存の)ゲームやエンタテインメントの臨場感や演出効果を高めるのに即座に応用できるでしょうし、またそういった応用は、さしたる追加の実装や新しいアイデアを必要とすることなくハイクオリティなエンタテインメントを生み出してくれることでしょう。そのような家電利用法への道を開く具体的な方法を示してくれたという点で、私はこの作品を評価しました。
      p
        a(href='https://web.archive.org/web/20170625152327/http://kadecot.net/blog/1189/', title='Kadecot > Customize YOUR House! シンポジウム', style='display: inline;') Kadecotブログ
        | より
    .column
      +embed-youtube('//www.youtube.com/embed/Wu3OLxEmeww')
      p.caption 「既存Webアプリと家電のマッシュアップ」プレゼンテーション動画
