extends ../../teaparty/index

block lang
  - var lang = 'ja';

block summary
  p アニメ、ゲーム、絵、音楽、小説など、面白いコンテンツを作る・作れる・作りたい人たちと、その活動を応援したい人たちの集まりです。お茶を飲みながらざっくばらんに語ります。カジュアルな勉強会のようなものとお考えください。2012年から、毎年一回程度のペースで開催しています。
  p 目的はいろいろありますが、その一つは、コンテンツ制作・鑑賞支援研究者、コンテンツ制作者、鑑賞者の距離を縮めることです。毎回、立場を超えて交流し、立場を超えて活動していきたいメンタリティの持ち主が集まっています。
  p 業界横断で濃い人たちの参加をお待ちしてます。初対面同士が多いお茶会なので、知り合いが少なくてちょっとひよりそうな人も、物怖じせずご参加ください。ついでに、濃い友達がいたら、ぜひ連れてきてください。

block past-events
  h3.ui.header 第7回 2018年1月18日 Wantedly, Inc.
  p (TBA)
  h3.ui.header 第6回 2017年2月12日 Wantedly, Inc.
  p 36名が参加し、発表セッション「AI &amp; IA」「コンテンツと社会」「スタートアップ」「デザイン」「インタラクション」「やってみた」の他にパネルセッションが開かれました。東大 稲見教授、USP 平澤さん、加藤でコンテンツ創作の未来について議論しました。
  h3.ui.header
    a(href=`${basePath}teaparty/2016`) 第5回 2016年2月13日 Wantedly, Inc.
  p 30名強の方々にご参加いただきました。「音楽」「動画」「食」「ゲーム」「人文・民俗」「お仕事」「2D・3D・実物体」と、さまざまな科学・技術・コンテンツに関する発表が集まりました。
  p
    a(href='https://www.wantedly.com/chat') Wantedlyチャット
    | を利用して、オフラインの発表と同時並行でオンラインの議論を行いました。また、運営を複数名で行ったおかげで、温かいお茶やコーヒーをサーブでき、懇親会の時間もしっかり取れました。
  h3.ui.header
    a(href=`${basePath}teaparty/2015`) 第4回 2015年1月24日 DMM.make AKIBA BASE
  p 例年になく人数が増えたため、話題ごとにセッションとしてまとまりを作りました。クリエータの方々の作品紹介「Creators' Showcase #1, #2」と、テーマごとの「科学・教育」「人・コンピュータ・知能」「ゲーム」「海外動向」「五感に訴えるコンテンツ」「コンテンツ理解・生成」、そして1分自己紹介「Shotgun Session」です。
  h3.ui.header 第3回 2014年3月1日 Lab-Cafe
  p 2月の開催予定が雪で3月に延期されました。新しい楽器や音楽情報処理の最前線についての講演、携帯端末向けニコニコ動画アプリ、ビリヤードをプロジェクションマッピングで楽しくするプロジェクト、結婚式二次会を盛り上げる余興アプリなど、さまざまな話題で盛り上がりました。
  p
    a.ui.button(href='https://www.facebook.com/events/1450857968478857/', title='Facebook イベントページ')
      i.facebook.icon
      | Facebook
    |  (参加者とその友達限定公開)
  h3.ui.header 第2回 2013年1月5日 Lab-Cafe
  p 前線で活躍しているアーティスト色の濃い人だけでなく、それを支援するプログラムの開発技術を持つ人や、制作フロー全体を見るマネジメント寄りの人まで幅広く集まりました。議論だけでなく、新作コンテンツを鑑賞したり、Lab-Cafeに新たに開設された工房を見学したりしました。
  p
    a.ui.button(href='https://www.facebook.com/events/452322271501825/', title='Facebook イベントページ')
      i.facebook.icon
      | Facebook
    |  (参加者とその友達限定公開)
  h3.ui.header 第1回 2012年1月8日 Lab-Cafe
  p 初回です。アニメ、ゲーム、Web、Maker、ユーザインタフェース研究辺りの人たちが集まりました。学生が多かったこと、また、アニメ会社の人の要望もあって、オタク文化やユーザインタフェース研究の最近の動向などについて幅広く議論しました。
  p
    a.ui.button(href='https://www.facebook.com/events/370600659666614/', title='Facebook イベントページ')
      i.facebook.icon
      | Facebook
