extends ../_layout

block vars
  - title = en ? 'Privacy Policy' : 'プライバシーポリシー';
  - me = 'privacy/'

block main
  section
    h1.ui.header
      i.envelope.open.outline.icon
      .content #{title}
    .ui.basic.segment
      // retrieved and modified from https://www.house.gov/privacy-policy
      h2.ui.header Google Analytics
      - if (en) {
      p We use a tool called 
        a(href="//analytics.google.com/analytics/web/") &quot;Google Analytics&quot;
        |  to collect information about use of this site. Google Analytics collects information such as how often users visit this site, what pages they visit when they do so, and what other sites they used prior to coming to this site. We use the information we get from Google Analytics only to improve this site.
      p Google Analytics collects only the IP address assigned to you on the date you visit this site, rather than your name or other identifying information. We do not combine the information collected through the use of Google Analytics with personally identifiable information. Although Google Analytics plants a permanent cookie on your web browser to identify you as a unique user the next time you visit this site, the cookie cannot be used by anyone but Google.
      p Google's ability to use and share information collected by Google Analytics about your visits to this site is restricted by the 
        a(href="//www.google.com/analytics/terms/") Google Analytics Terms of Use
        |  and the 
        a(href="//www.google.com/privacypolicy.html") Google Privacy Policy
        | . You can prevent Google Analytics from recognizing you on return visits to this site by disabling cookies on your browser.
      - } else {
      p このWebサイトの利用方法は 
        a(href="//analytics.google.com/analytics/web/") &quot;Google Analytics&quot;
        |  というツールによって収集されています。 Google Analytics は、ユーザのWebサイトへの訪問頻度、どのページを訪問したか、どのWebサイトからこのサイトに訪問したか、といった情報を収集しています。このような情報は、このWebサイトをよりよいものにするためにのみ、利用されます。
      p Google Analytics はあなたのIPアドレスと訪問日時のみを収集し、名前やその他の個人の特定につながるような情報は収集しません。また、このWebサイトの運営者はそうした情報を他の個人を特定可能な情報と照合しません。 Google Analytics はあなたが次回このWebサイトを訪問したときに同一人物であることを特定できるCookieをWebブラウザに残しますが、このCookieはGoogle以外に利用されることはありません。
      p Google が Google Analytics によって収集したあなたについての情報をどう利用し、共有するかは 
        a(href="//www.google.com/analytics/terms/") Google Analytics の利用規約
        | と
        a(href="//www.google.com/privacypolicy.html") Google のプライバシーポリシー
        | によって定められています。あなたが次回訪問したときに Google Analytics によって同一人物であることを特定されないようにするには、WebブラウザのCookieをオフにすることはできます。
      - }
