extends ../../publications/index

block lang
  - var lang = 'ja';

block left-rail-list
  .item
    .ui.list
      a.item(href='#international-publications')
        i.right.triangle.icon
        .content 国際
      a.item(href='#domestic-publications')
        i.right.triangle.icon
        .content 国内
      a.item(href='#dissertation')
        i.right.triangle.icon
        .content 学位論文

block publications
  p 以下の発表文献リストは
    a(href='/junkato.bib') BibTeX ファイル
    | から自動生成されています。
  h2.ui.header#international-publications 国際会議・ジャーナル
  .ui.divided.list
    - for (const entry of publications) {
    - if (entry.entryTags && entry.entryTags.language === 'japanese') continue;
    - if (entry.entryType === 'phdthesis') continue;
    +render-publication(entry)
    - }
  h2.ui.header#domestic-publications 国内会議・ジャーナル
  .ui.divided.list
    - for (const entry of publications) {
    - if (!entry.entryTags || entry.entryTags.language !== 'japanese') continue;
    - if (entry.entryType === 'phdthesis') continue;
    +render-publication(entry)
    - }
  h2.ui.header#dissertation 学位論文
  .ui.divided.list
    - for (const entry of publications) {
    - if (entry.entryType !== 'phdthesis') continue;
    +render-publication(entry)
    - }
