extends ../../publications/index

block lang
  - var en = false, lang = 'ja', basePath = '/ja/';

block publications
  .ui.segments
    .ui.secondary.segment
      .ui.horizontal.list
        .item
          i.circle.icon
          .content #{en ? 'Domestic publications' : '国内'}
        .item
          i.world.icon
          .content #{en ? 'International publications' : '国際'}
    .ui.segment
      .ui.divided.list
        - for (const entry of publications) {
        +render-publication(entry)
        - }
