extends ../../surfboard/index

block lang
  - var lang = 'ja';

block message
      | Surfboardのソースコードは
      a(href='https://github.com/arcatdmz/surfboard') GitHub
      | で公開されています。

block abstract
  p Surfboardは、キーボード上を手で撫でた時に生じる特異な音をキーボードの近くに取り付けたマイクで録音し、機械学習を用いてリアルタイムに検出する手法である。
  p キーボード上を打鍵入力に留まらないサーフェースコンピューティングの新たな場として開拓する取り組みで、これまでになく安価かつ簡単なハードウェアセットアップで実現可能な点に新規性がある。

block gestures
  p Surfboardは、キーボードを撫でている状態（サーフィン）を検出できる。さらに、それが右向きか左向きか（ジェスチャ）を検出できる。これ以上複雑なジェスチャに関しては、キーボードの形状の特徴から困難と判断し、実装していない。

block hardware
  p Surfboardは、マイク入力のついた標準的なパーソナルコンピュータ上で動作する。とくに、ノートPCはキーボードの近くにマイクが元から据え付けてあることが多く、静かなオフィスなどの環境ではハードウェア的に何も細工をしなくてもSurfboardを利用できる。
