mixin education
  .row.header
    .year
    .content: h2 Education
  .row
    .year
    .content: h3.first The University of Tokyo, Tokyo, Japan
  .row
    .year April 2011-
      br
      | March 2014
    .content
      p Doctor of Philosophy / Information Science and Technology (Computer Science), Thesis: 
        a(href='https://doi.org/10.15083/00007163'): i Integrated development environment with graphical representations for development of programs with real-world input and output
        | .
      p.small Supervisor: Takeo Igarashi; thesis committee: Masami Hagiya, Shigeru Chiba, Shinichi Honiden, Toshiyuki Masui.
  .row
    .year April 2009-
      br
      | March 2011
    .content
      p Master of Science / Information Science and Technology (Computer Science), Thesis: 
        i A Toolkit for Prototyping Interactive Robot Applications
      p.small Supervisor: Takeo Igarashi.
  .row 
    .year April 2005-
      br
      | March 2009
    .content
      p Bachelor of Science / Information Science, Thesis: 
        i Multi-touch Interface for Controlling Multiple Mobile Robots
      p.small Supervisor: Takeo Igarashi.
