mixin grants
  .row
    .year
    .content: h2 Research Grants
  .row
    .year October 2022-
      br
      | March 2025
    .content
      a(href='https://www.jst.go.jp/EN'): abbr(title='Japan Science and Technology Agency') JST
      |  
      a(href='https://www.jst.go.jp/kisoken/act-x/en/index.html') ACT-X
      |  (Grant Number 
      code JPMJAX22A3
      | )
      p.small Principal investigator; funded 6M Japanese Yen for 2.5 years.
  .row
    .year April 2021-
      br
      | March 2024
    .content
      a(href='https://www.jsps.go.jp/english'): abbr(title='Japan Society for the Promotion of Science') JSPS
      |  
      a(href='https://www.jsps.go.jp/english/e-grants/grants01.html') Grant-in-Aid for Scientific Research (A)
      |  (Grant Number 
      code: a(href='https://kaken.nii.ac.jp/en/grant/KAKENHI-PROJECT-21H04917') 21H04917
      | )
      p.small Co-investigator; funded 42.3M Japanese Yen for 3 years.
  .row
    .year April 2011-
      br
      | March 2014
    .content
      a(href='https://www.jsps.go.jp/english'): abbr(title='Japan Society for the Promotion of Science') JSPS
      |  
      a(href='https://www.jsps.go.jp/english/e-pd') Research Fellowships for Young Scientists DC1
      p.small Funded 1.9M Japanese Yen for 3 years as a research fellow.
  .row
    .year 2012
    .content
      a(href='https://www.microsoft.com/en-us/research/academic-program/fellowships-microsoft-research-asia') Microsoft Research Asia Fellowship
      p.small Awarded among around one hundred Ph.D candidates and funded $10,000 for a year.
  .row 
    .year April 2011-
      br
      | March 2012
    .content
      a(href='https://web.archive.org/web/20150921173330/http://research.microsoft.com/en-us/collaboration/global/asia-pacific/regions/japan-ijarc.aspx') Microsoft 
        abbr(title='Institute for Japanese Academic Research Collaboration') IJARC
        |  
        abbr(title='Collaborative Research') CORE
        |  Program
      p.small Principal investigator; funded $15,000 for a year.
  .row
    .year December 2008-
      br
      | August 2009
    .content
      a(href='https://www.ipa.go.jp/index-e.html')
        abbr(title='Information-technology Promotion Agency') IPA
        |  
        a(href='https://www.ipa.go.jp/english/humandev/third.html', title='Exploratory IT Human Resources Project') MITOU Program
      p.small Project leader (principal investigator); funded 7M Japanese yen for half a year.
        //- developed a software toolkit for prototyping robot applications.
  .row
    .year
    .content: p.small *Private fundings for collaborative research are unlisted for their confidential nature.
