mixin innovations
  .row.header
    .year
    .content: h2 Research-driven Innovations
  section#innovations-products
    .row
      .year
      .content: h3 Products and Services
    .row#griffith
      .year 2018-
      .content
        a(href='https://junkato.jp/griffith') Griffith
        |  (Arch Inc.)
        p.small Griffith is a web-based tool for authoring and sharing Japanese animation storyboards (e-conte). As the principal investigator at Arch Research, I have been responsible for its research and development. To appropriately design the tool, it was necessary to dive deeply into the historical and cultural aspects of the animation production process, which we reported at the Society for Animation Studies annual conferences.
    .row#songlesync
      .year 2017-
      .content
        a(href='https://junkato.jp/songle-sync') Songle Sync
        |  (AIST)
        p.small Songle Sync is a large-scale web-based platform for synchronizing various devices to music playback. It has been used in commercial events to synchronize city lights, fireworks, and thousands of smartphones. I was involved in the discussion of core algorithm development, developed it as a toolkit, wrote an ACM Multimedia '18 paper, and have continuously served as the producer of commercial events.
        //- p.small Press release: 
          a.link(href='https://www.aist.go.jp/aist_e/list/latest_research/2019/20190411/en20190411.html') https://www.aist.go.jp/aist_e/list/latest_research/2019/20190411/en20190411.html
    .row#textalive
      .year 2014-
      .content
        a(href='https://junkato.jp/textalive') TextAlive
        |  (AIST)
        p.small TextAlive is a web-based authoring tool for lyric videos, used by both professional and amateur artists (&gt;23k video revisions), recently featured in professional VR live performances (4 events and 61 songs in 2023). As its project leader, I have been responsible for its research, development, and service operation. Relevant topics have been covered in several academic articles including ACM CHI '15 and '23 award-winning papers.
        //- p.small Press release: 
          a.link(href='https://www.aist.go.jp/aist_e/list/latest_research/2015/20160125/en20160125.html') https://www.aist.go.jp/aist_e/list/latest_research/2015/20160125/en20160125.html
    .row#touchdevelop
      .year 2012
      .content
        a(href='https://junkato.jp/touchdevelop') TouchDevelop
        |  (
        a(href='https://www.microsoft.com/en-us/research/project/touchdevelop') Microsoft
        | )
        p.small TouchDevelop is a programming environment optimized for touch-enabled devices, which was retired in 2018. Thanks to the team's open and creative culture, as a research intern, I could take an essential role in developing its novel live programming feature, which displays interactive user interfaces for editing a running program. The core technologies we developed were published at ACM PLDI '13 and filed as a patent US9286038B2.
    .row
      .year
      .content: p.small *The complete list of projects can be found at 
        a.link(href='https://junkato.jp/projects') https://junkato.jp/projects
        | .
  section#innovations-patents
    .row
      .year
      .content: h3 Patents
    .row.patent#US9639330B2
      .year
        | 2013 (applied)
        br
        | 2016 (granted)
      .content
        | Sebastian Burckhardt, Manuel Fahndrich, Peli de Halleux, Sean McDirmid, Michal Moskal, Nikolai Tillmann, <u>Jun Kato</u> (Microsoft). Interface development and operation. 
        a(href='https://patents.google.com/patent/US9286038B2/en') US9286038B2
        | .
    .row.patent#US9286038B2
      .year
        | 2013 (applied)
        br
        | 2017 (granted)
      .content
        | Xiang Cao, <u>Jun Kato</u>, Sean McDirmid (Microsoft). Programming interface. 
        a(href='https://patents.google.com/patent/US9639330B2/en') US9639330B2
        | .
