mixin menu
  ul
    li: a(href='#profile') Profile
    li: a(href='#work') Work Experience
    li: a(href='#grants') Grants
    li: a(href='#education') Education
    li: a(href='#honors') Honors
    li: a(href='#publications') Publications
    li: a(href='#innovations') Innnovations
    li: a(href='#services') Services
    li: a(href='#references') References
