mixin menu
  ul
    li 
      a(href='#profile') Profile
    li 
      a(href='#work') Work Experience
    li 
      a(href='#grants') Research Grants
    li 
      a(href='#education') Education
    li 
      a(href='#honors') Honors
    li 
      a(href='#publications') Publications
    li 
      a(href='#services') Academic Services
    li 
      a(href='#references') References
