mixin profile
  h1 Jun Kato
  dl
    dt E-mail
    dd
      code jun.kato@aist.go.jp
      |  (work), 
      code i@junkato.jp
      |  (personal)
    dt Mail
    dd
      | HIIRI, AIST Tsukuba Central 2, 1-1-1 Umezono, Tsukuba, Ibaraki, 305-8568, Japan
    dt URL
    dd: a.link(href='https://junkato.jp') https://junkato.jp
  .row
    .year
    .content
      hr
      p
        | Jun Kato is a senior researcher at 
        a(href='https://www.aist.go.jp/index_en.html')
          abbr(title='National Institute of Advanced Industrial Science and Technology') AIST
        | , where he works on Human-Computer Interaction research, more specifically, designing user interfaces and integrated environments for creativity support. He also serves as a technical advisor at 
        a(href='https://archinc.jp/en') Arch Inc.
        | , a Japanese animation production company, and leads 
        a(href='https://research.archinc.jp/en') Arch Research
        | .
      p
        | He received a Ph.D. from The University of Tokyo (2014). Prior to graduation, he worked as a research intern at Microsoft Research and Adobe Research. 
        | He has regularly gained academic recognitions such as 
        | Honorable Mentions at ACM <abbr title="The SIGCHI conference on Human Factors in Computing Systems">CHI</abbr> (2013, 2015, 2023) and 
        a(href='https://www.ipsj.or.jp/english/organization/aboutipsj/award/ACM-Award-E.html#hdg6' title='IPSJ/ACM Award for Early Career Contributions to Global Research') IPSJ/ACM Award
        |  (2021).
  .row.header
    .year
    .content
      h2#interest Research Interests
  .row
    .year
    .content
      p Human-computer interaction, creativity support, physical computing, programming experience, animation studies