mixin references
  .row.header
    .year
    .content: h2 References
  .row
    .year
    .content.column-host
      .column
        h3 Dr. Masataka Goto
        p.small Relationship: research director and colleague 
          span.year 2014-
          | ; National Institute of Advanced Industrial Science and Technology (AIST), Ibaraki, Japan
          br
          a.link(href='https://staff.aist.go.jp/m.goto/index-e.html') https://staff.aist.go.jp/m.goto/index-e.html
      .column
        h3 Dr. Takeo Igarashi
        p.small Relationship: academic supervisor 
          span.year 2008-2014
          | ; The University of Tokyo, Tokyo, Japan
          br
          a.link(href='https://www-ui.is.s.u-tokyo.ac.jp/~takeo') https://www-ui.is.s.u-tokyo.ac.jp/~takeo
      .column
        h3 Dr. Jovan Popovic
        p.small Relationship: research intern supervisor 
          span.year 2013
          | ; Adobe Research Seattle, WA, US
          br
          a.link(href='https://www.linkedin.com/in/jovan-cmu/') https://www.linkedin.com/in/jovan-cmu/
      .column
        h3 Dr. Sebastian Burckhardt
        p.small Relationship: research intern supervisor 
          span.year 2012
          | ; Microsoft Research Redmond, WA, US
          br
          a.link(href='https://www.microsoft.com/en-us/research/people/sburckha/') https://www.microsoft.com/en-us/research/people/sburckha/
      .column
        h3 Dr. Xiang Cao
        p.small Relationship: research intern supervisor 
          span.year 2012
          | ; Microsoft Research Asia, Beijing, China
          br
          a.link(href='https://caoxiang.net') https://caoxiang.net
      .column
        h3 Dr. Sean McDirmid
        p.small Relationship: research intern supervisor 
          span.year 2012
          | ; Microsoft Research Asia, Beijing, China
          br
          a.link(href='https://www.linkedin.com/in/sean-mcdirmid-52b0aa90') https://www.linkedin.com/in/sean-mcdirmid-52b0aa90
