mixin techtransfer
  .row.header
    .year
    .content: h2 Technical Transfer
  section#techtransfer-products
    .row
      .year
      .content: h3 Products and Services
  section#techtransfer-patents
    .row
      .year
      .content: h3 Patents
    .row.patent#US9639330B2
      .year
        | 2013 (applied)
        br
        | 2016 (granted)
      .content
        | Sebastian Burckhardt, Manuel Fahndrich, Peli de Halleux, Sean McDirmid, Michal Moskal, Nikolai Tillmann, <u>Jun Kato</u> (Microsoft). Interface development and operation. 
        a(href='https://patents.google.com/patent/US9286038B2/en') US9286038B2
        | .
    .row.patent#US9286038B2
      .year
        | 2013 (applied)
        br
        | 2017 (granted)
      .content
        | Xiang Cao, <u>Jun Kato</u>, Sean McDirmid (Microsoft). Programming interface. 
        a(href='https://patents.google.com/patent/US9639330B2/en') US9639330B2
        | .
