mixin work
  .row
    .year
    .content: h2 Work Experience
  section#work-aist
    .row
      .year
      .content: h3: a(href='https://www.aist.go.jp/index_en.html') National Institute of Advanced Industrial Science and Technology (AIST)
    .row
      .year September 2018-
      .content Senior Researcher, 
        a(href='https://unit.aist.go.jp/hiiri/meirg/') Media Interaction Group
        | , 
        a(href='https://unit.aist.go.jp/hiiri/index-en.html') Human Informatics and Interaction Research Institute (HIIRI)
    .row
      .year April 2014-
      .content Researcher, 
        a(href='https://unit.aist.go.jp/hiiri/meirg/') Media Interaction Group
        | , 
        | Information Technology Research Institute (ITRI)
        p.small Leading research projects to be published as academic papers and deployed as demonstration experiments and collaborating with companies to impact society.
  section#work-arch
    .row
      .year
      .content: h3: a(href='https://archinc.jp/en') Arch Inc.
    .row
      .year July 2018-
      .content Technical Advisor, Principal Investigator at 
        a(href='https://research.archinc.jp') Arch Research
        p.small Leading research projects to be deployed in the industry and published as academic papers.
  section#work-interns
    .row 
      .year
      .content: h3 Research Internships 
    .row
      .year August 2013-
        br
        | November 2013
      .content Creative Technologies Lab, 
        a(href='https://research.adobe.com/') Adobe Research
        | , Seattle, WA, US
        p.small
          | Worked with 
          a(href='https://research.adobe.com/person/jovan-popovic/') Jovan Popovic
          |  and 
          a(href='https://research.adobe.com/person/joel-brandt/') Joel Brandt
          | ; developed a research prototype of a new product.
    .row
      .year June 2012-
        br
        | September 2012
      .content Research in Software Engineering (RiSE) Group, 
        a(href='https://www.microsoft.com/en-us/research/group/research-software-engineering-rise/') Microsoft Research Redmond
        | , Redmond, WA, US
        p.small
          | Worked with 
          a(href='https://www.microsoft.com/en-us/research/people/sburckha/') Sebastian Burckhardt
          |  and 
          a(href='https://moskal.me/') Michał Moskal
          | ; developed a new live programming feature of 
          a(href='https://www.microsoft.com/en-us/research/project/touchdevelop/') TouchDevelop
          | , whose research component was published as an 
          a(href='#pldi2013-alive') ACM PLDI'13
          |  full paper.
    .row
      .year January 2012-
        br
        | April 2012
      .content Human-Computer Interaction (HCI) Group, 
        a(href='https://web.archive.org/web/20120408040100/http://research.microsoft.com/en-us/um/beijing/groups/hci/') Microsoft Research Asia
        p.small
          | Worked with 
          a(href='https://caoxiang.net/') Xiang Cao
          |  and 
          a(href='https://scholar.google.com/citations?user=GwfSl2wAAAAJ&hl=en') Sean McDirmid
          | ; developed extensions to an integrated development environment and wrote a full research paper later published at 
          a(href='#uist2012-dejavu') ACM UIST'12
          | .
  section#work-misc
    .row
      .year
      .content: h3 Miscellaneous
    .row
      .year July 2010-
        br
        | August 2010
      .content Intern, 
        a(href='https://www.ut-ec.co.jp/english/') The University of Tokyo Edge Capital
        p.small Led a team of 3 students; surveyed previous industrial effort on home automation and proposed a new business plan with a working prototype.
    .row
      .year August 2009-
        br
        | September 2009
      .content Software Development Engineer Intern, 
        a(href='https://microsoft.com/') Microsoft
        p.small Developed an online code reviewing tool to improve the team's productivity.       
    .row
      .year April 2008-
        br
        | March 2013
      .content Assistant Researcher, 
        a(href='https://www.jst.go.jp/erato/igarashi/en/') JST ERATO Igarashi Design UI Project
        p.small Developed an interactive and graphical simulator and a software toolkit for controlling mobile robots; built a FTIR multi-touch display and developed its middleware for tracking fingers.
