extends ../../../_layout

block lang
  - var lang = 'ja';

block vars
  - p = projectsTable['teaparty'];
  - title = '第4回 名状しがたいお茶会';
  - me = p.project + '/';

block main
  .ui.breadcrumb
    a.section(href=basePath+me) 名状しがたいお茶会
    i.right.angle.icon.divider
    .active.section 第4回 (2015)
  .ui.divider
  section
    h1.ui.header 第4回 名状しがたいお茶会
    .ui.horizontal.divided.list
      .item
        span.ui.tiny.basic.label
          i.calendar.icon
          | 2015/1/24
  .ui.hidden.divider
  section#summary
    .ui.basic.segment
      //- .ui.message
      //-   strong 重要なお知らせ:
      //-   |  円滑な運営のため、できるだけ(
      //-   strong 5分以下の発表の方は必ず
      //-   | )PowerPoint、PDF、動画ファイルなど発表資料を加藤宛てに事前にお送りください。メール&lt;<a href="mailto:i@junkato.jp">i@junkato.jp</a>&gt;、Dropbox、Facebook Messeenger、Skypeなど、送信方法は問いません。当日、セッション前の休憩時間にUSBメモリなどでお渡しいただいても大丈夫です。
      p アニメ、ゲーム、絵、音楽、小説など、面白いコンテンツを作る・作れる・作りたい人たちと、その活動を応援したい人たちの集まりです。お茶を飲みながらざっくばらんに語ります。カジュアルな勉強会のようなものとお考えください。2012年から、毎年一回程度のペースで開催しています。
      p 目的はいろいろありますが、その一つは、コンテンツ制作・鑑賞支援研究者、コンテンツ制作者、鑑賞者の距離を縮めることです。毎回、立場を超えて交流し、立場を超えて活動していきたいメンタリティの持ち主が集まっています。
      p 業界横断で濃い人たちの参加をお待ちしてます。初対面同士が多いお茶会なので、知り合いが少なくてちょっとひよりそうな人も、物怖じせずご参加ください。ついでに、濃い友達がいたら、ぜひ連れてきてください。
      p 今年の開催内容について、詳しくはFacebookのイベントページをご覧ください。
      .ui.horizontal.list
        .item
          a(href='https://www.facebook.com/events/873913542653717/', title='Facebook イベントページ')
            i.facebook.icon
            | Facebook
        //- .item
          a(href='https://docs.google.com/forms/d/1ne4_GlTyFeN0wpwt4mk7hQx8RujnwMU-vsRtZioVja4/viewform')
            i.google.icon
            | 事前アンケート
        .item
          a(href='https://docs.google.com/forms/d/1xUDrcGYtj45wCRggYmnZGlljlsemq7DMZbj6oHJdZq8/viewform')
            i.google.icon
            | 事後アンケート
  .ui.hidden.divider
  section#timetable
    h2.ui.header タイムテーブル
    .ui.basic.segment
      p 例年になく人数が増えたため、話題ごとにセッションとしてまとまりを作りました。クリエータの方々の作品紹介「
        b Creators' Showcase #1, #2
        | 」と、テーマごとの「
        b 科学・教育
        | 」「
        b 人・コンピュータ・知能
        | 」「
        b ゲーム
        | 」「
        b 海外動向
        | 」「
        b 五感に訴えるコンテンツ
        | 」「
        b コンテンツ理解・生成
        | 」、そして1分自己紹介「
        b Shotgun Session
        | 」です。
      p 計
        b 9
        | セッション、
        b 7時間
        | に及ぶ発表と議論からなる欲張りなタイムテーブルです。頭をフル回転させ、全速力でお楽しみください。
      iframe(src='https://docs.google.com/spreadsheets/d/1FqBKPyTiFDegmcOIcpRNEujx9yga4crkXvjVKMxsf9Y/pubhtml?gid=1689693383&single=true&widget=true&headers=false', style='width: 100%; height: 400px;')
      .ui.hidden.divider
  section#details
    h2.ui.header 時と場所
    .ui.basic.segment
      p 2015年1月24日 13時より、DMM.make AKIBA BASEで開催されます。
      p
        | DMM.make AKIBA BASEは入り口にセキュリティゲートがあります。開場時間近辺はスタッフの方が開けてくださいますが、もし遅れる場合は
        a(href='https://twitter.com/arcatdmz') @arcatdmz
        | または #teaparty2015 でツイートするなどして中の人にご連絡ください。
    #map-canvas
    h2.ui.header 設備
    .ui.basic.segment
      p 電源、電源タップ、Wi-Fiがあります。ただ、Wi-Fiは多人数で同時接続すると不安定になることがあるため、インターネット接続が必須の方はご自身で用意していただくようおお願いします。
      p プロジェクタは解像度1280x720ピクセル(16:9)で、HDMI、mini DisplayPort、VGA接続が可能です。
    h2.ui.header 参加費
    .ui.basic.segment
      p
        | 学生
        b 1000
        | 円、社会人
        b 2500
        | 円を予定しています。13-18時までお菓子とお茶が出るほか、18-20時まで夕飯とドリンクのケータリングが手配されています。
    h2.ui.header Togetter
      .ui.basic.segment.togetter
        //-
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/teaparty2015" data-widget-id="558477483448614912">#teaparty2015 Tweets</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        //-
          <script src="//togetter.com/js/parts.js"></script><script>tgtr.ListWidget({id:'774222',url:'http://togetter.com/',width:'100%',height:'800px'});</script>
        script(src='//togetter.com/js/parts.js')
        script tgtr.ExtendWidget({id:'774222',url:'https://togetter.com/'});
  .ui.divider
  .ui.breadcrumb
    a.section(href=basePath+me) 名状しがたいお茶会
    i.right.angle.icon.divider
    .active.section 第4回 (2015)

block post-scripts
  script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?v=3.exp')
  script.
    google.maps.event.addDomListener(window, 'load', function (){
      var latlng = new google.maps.LatLng(35.700514, 139.774166)
      var mapOptions = {
        zoom: 15,
        center: latlng
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
      var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title: 'DMM.make AKIBA'
      });
    });