extends ../../multirobot/index

block lang
  - var lang = 'ja';

block abstract
  // <p>Human Robot Interaction (HRI)についての研究は、ハードウェアとしてのロボットが研究用途に扱いやすくなるにつれ、頻繁に行われるようになってきた。ただし、その中心となっているのは、人とロボットが直接対面した際の心理的な評価研究である。必ずしも実用に耐えるロボットの開発には結びついていない。一方で、複数台のロボットを遠隔操作して実用的な役割を持たせようとする研究が行われてきている。しかし、Human Computer Interaction (HCI)分野で提案されているような操作インタフェースの豊かさには未だ欠ける。そこで我々は、複数台の小型ロボットを操作するインタフェースに注目し、マルチタッチディスプレイを用いたシステムを作成した。</p> 
  p ロボットに複雑なタスクをさせる場合、ユーザはまずロボットにすべきことを指示する。自律動作してタスクをこなすロボットでも、初めに指示を出すことが求められる。このため、ロボットの操作および教示インタフェースが必要とされている。この目的には、一般的に自然言語、ジョイスティックやその他のポインティングデバイスが用いられている。しかし、これらのインタフェースでは特に複数台のロボットを同時に操作することが困難である。
  p この不便を解消するため、我々は、複数台の移動型ロボットを操作するマルチタッチインタフェースを開発した。本インタフェースでは、ユーザが手でグローバルなベクトル場を編集すると、全てのロボットがそのベクトル場に従って動く。
  p
    | 本研究は卒業研究の一環として遂行され、CHI 2009
    a(href='https://src.acm.org/winners/2010') Student Research Competition
    | において一位を獲得した。

block interaction
  p 天井から見た俯瞰ビュー上で、マルチタッチディスプレイに触れている手の面の動きがベクトル場を生成する。画面内にあるすべてのロボットが、生成されたベクトル場に沿って動く。ユーザは以下の3つの操作モードでロボットの動きを制御できる。これらの操作モードを切り替えるための特別な操作が必要ないことに注意されたい。
  dl
    dt: strong Drag
    dd ユーザがディスプレイに手を触れて動かすと、ベクトル場上に仮想的な流れができ、ロボットがその流れに沿って動く。
    dt: strong Mix
    dd ユーザが既存の流れ場の上で手を動かすと、その手の動きによって生成されるベクトルと既存のベクトルが合計され、新しい流れ場ができる。
    dt: strong Hold
    dd ユーザがディスプレイに手を触れて制止させたままにすると、手の下のベクトル場がリセットされる。これにより、ロボットを停止させることができる。
