extends ../../creativity-support-environments/index

block vars
  - p = projectsTable['creativity-support-environments'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block lang
  - var lang = 'ja';

block sigccc-content
  p ACM CHI 2023 で Special Interest Group （カジュアルな研究会合）を主催します。ぜひ 
    a(href='https://programs.sigchi.org/chi/2023/program/session/99391') 4月24日（月）午後16:35 Room Y09
    |  へお越しください。
  +sigccc-abstract()
  p また、産業技術総合研究所として 
    a(href='https://chci.pages.dev/aist-seminar') AIST Creative HCI Seminar 
    |  というセミナーシリーズを開講しています。
    | 初回のテーマが「創造性支援」で上記 SIGCCC 提案者ともメンバーが重複しておりますので、ぜひアーカイブ配信をご覧ください。


block news
  .event: .content
    .date 3/31/2023
    .summary <a href="https://programs.sigchi.org/chi/2023/program/session/99391" title="Special Interest Group on Creativity and Cultures in Computing">SIGCCC</a> および <a href="https://chci.pages.dev/aist-seminar">AIST Creative HCI Seminar</a> について追記
  .event: .content
    .date 10/23/2022
    .summary プロジェクトページを仮公開
