extends ../../creativity-support-environments/index

block vars
  - p = projectsTable['creativity-support-environments'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block lang
  - var lang = 'ja';

block animesig-content
  p ACM CHI 2025 でアニメに関する Special Interest Group （カジュアルな研究会合）を主催しました。詳細はイベントページをご覧ください。
  +animesig-abstract()

block postgrowth-content
  p ACM CHI 2025 で Post-growth HCI に関するワークショップが開催され、
    a(href='/publications/chi2025-kato-postgrowth-cst.pdf') ポジションペーパー
    | を執筆、発表しました。
  +postgrowth-abstract()

block sigccc-content
  p ACM CHI 2023 で Special Interest Group を主催しました。詳細はイベントページをご覧ください。
  +sigccc-abstract()
  p また、産業技術総合研究所として 
    a(href='https://chci.pages.dev/aist-seminar') AIST Creative HCI Seminar 
    |  というセミナーシリーズを開講しています。
    | 初回のテーマが「創造性支援」で上記 SIGCCC 提案者ともメンバーが重複しておりますので、ぜひアーカイブ配信をご覧ください。

block xrds-content
  p ACM が発行する学生向けの季刊雑誌 <abbr title="Crossroads">XRDS</abbr> において &quot;Exploring the Horizon of Computation for Creativity&quot; と題して特集が組まれ、これまでの創造性支援研究に関して寄稿しました。
  +xrds-abstract()

block news
  .event: .content
    .date 5/10/2025
    .summary <a href="https://programs.sigchi.org/chi/2025/program/content/189764" title="Anime SIG: Researching Japanese Animation From Technical, Cultural, and Industrial Perspectives">Anime SIG</a> と Post-growth HCI におけるポジションペーパーについて追記
  .event: .content
    .date 9/16/2024
    .summary プロジェクト一覧を追加
  .event: .content
    .date 6/20/2023
    .summary <a href="https://doi.org/10.1145/3596927">ACM XRDS</a> について追記
  .event: .content
    .date 3/31/2023
    .summary <a href="https://programs.sigchi.org/chi/2023/program/session/99391" title="Special Interest Group on Creativity and Cultures in Computing">SIGCCC</a> および <a href="https://chci.pages.dev/aist-seminar">AIST Creative HCI Seminar</a> について追記
  .event: .content
    .date 10/23/2022
    .summary プロジェクトページを仮公開
