extends ../../../_layout

block vars
  - p = projectsTable['teaparty'];
  - title = '第5回 名状しがたいお茶会';
  - me = p.project + '/';

block main
  section
    h1.ui.header 第5回 名状しがたいお茶会
    .ui.horizontal.divided.list
      .item
        span.ui.tiny.basic.label
          i.calendar.icon
          | 2016/2/13
  .ui.hidden.divider
  section#summary
    .ui.basic.segment
      p 名状しがたいお茶会へようこそ！一年に一度のお茶会も、早いものでもう5回目です。今年から複数名で運営タスクにあたっています。お茶会らしく温かい飲み物も出ます。会場は
        a(href='https://www.wantedly.com/') Wantedly
        | さんにご提供いただき、
        a(href='https://m.wantedly.com/') Wantedlyチャット
        | を使ってお茶会関連の議論を深める試みも始めました。濃ゆい一日をぜひ楽しんでいただければと思います。
  .ui.hidden.divider
  .ui.stackable.two.columns.grid
    .column
      section#timetable
        h2.ui.header タイムテーブル
        .ui.basic.segment
          iframe(src='https://docs.google.com/spreadsheets/d/1We0tN3pxXJ1Wbh30mpEPgec5GD8fDA5WC-De8OsAsqU/pubhtml?gid=1669616252&single=true&widget=true&headers=false', style='width: 100%; height: 640px;')
      .ui.hidden.divider
      +details()
    .column
      section#photos
        h2.ui.header 当日の様子
        .ui.basic.segment
          img.ui.fluid.image(src='DSC09983.jpg')
          .caption 開場前
          .ui.hidden.divider
          img.ui.fluid.image(src='DSC09990.jpg')
          .caption 質疑
          .ui.hidden.divider
          img.ui.fluid.image(src='73dfe990-b51f-4517-b0ef-78715e98b2fd.jpg')
          .caption 名札
          .ui.hidden.divider
          img.ui.fluid.image(src='DSC09993.jpg')
          .caption 突発ゲーム会
          .ui.hidden.divider
          //- img.ui.fluid.image(src='8577bc68-4b7e-41b2-8f3f-8819a487bd16.png')
          //- .caption 会場までの地図

mixin details()
  section#details
    h2.ui.header 時と場所
    .ui.basic.segment
      p 2016年2月13日 10時30分より、Wantedlyオフィスで開催されます。
      p Wantedlyオフィスは休日のため、通常の入り口が閉まっています。開場時間近辺はスタッフがいますが、もし遅れる場合は
        a(href='https://twitter.com/arcatdmz') @arcatdmz
        | 宛てにツイートするなどして中の人にご連絡ください。
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.5143207781284!2d139.71998831621383!3d35.63969798020414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35441d89d7421c9f%3A0xd7cd585ac9104934!2z44Km44Kp44Oz44OG44OD44OJ44Oq44O85qCq5byP5Lya56S-!5e0!3m2!1sen!2sjp!4v1482565394883', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
    h2.ui.header 参加費
    .ui.basic.segment
      p 学生
        strong 1000
        | 円、社会人
        strong 2500
        | 円を予定しています。17時半までお菓子とお茶が出るほか、18-19時半まで夕飯とアルコールを含む飲み物が手配されています。
    h2 その他
    .ui.basic.segment
      p 電源、電源タップ、Wi-Fiがあります。ただ、Wi-Fiは多人数で同時接続すると不安定になることがあるため、インターネット接続が必須の方はご自身で用意していただくようおお願いします。
      p プロジェクタは解像度1280x720ピクセル(16:9)で、HDMI、mini DisplayPort、VGA接続が可能です。
