extends ../../tweeq/index

block lang
  - var lang = 'ja';

block abstract
  p コンテンツ創作の現場で利用される制作ツールは、プリミティブ型のパラメタを調整するために数値スライダーやツマミ型のインタフェース、カラーピッカーなどのGUIウィジェットを数多く備えている。こうしたウィジェットはプロの実践において重要な役割を果たしているにも関わらず、Human-Computer Interaction分野の研究においてそうしたウィジェットの設計は「解決済み」と見なされがちで、クリエータの不満が見過ごされてきた面がある。
  p 本研究では、市販の一般的な制作ツールに実装されたGUIウィジェットの実例を収集し、インタラクション設計を分析し、プロのクリエータ向けのウィジェット設計に関する3原則を導出した:
  ul
    li ユーザの繊細な制御戦略に応えるために、多様な入力モードを併存させること
    li 熟達したユーザ向けに、高速で高精度なインタラクション設計を優先すること
    li 作業空間を確保するために、ウィジェットの専有面積をできるだけ抑えること
  p そして、これらの原則に基づくリファレンス実装としてGUIウィジェット群 <i>Tweeq</i> を開発した。 <i>Tweeq</i> は第一著者によるアニメーション制作の実践と並行して実装され、少ないクリック回数でのパラメタ調整、オーバーレイ表示による継続的な視覚フィードバック、常時注視を必要としないジェスチャやキーボード入力のサポートといった特徴を備える。
  p <i>Tweeq</i> を用いたサンプルアプリケーションを実装し、プロユーザによる簡易評価を行ったところ、おおむね好意的な反応が得られ、提案した3原則が制作ツールのためのGUI開発において有用であることが示唆された。

block teaser
  p.caption
    i Tweeq
    |  は本論文で提案した制作ツール向けGUIウィジェット群である。
    strong (a)
    |  <i>Tweeq</i> が提供するコンポーネントの一覧。
    strong (b)
    |  カラーピッカーとオーバーレイ表示。
    strong (c)
    |  オーバーレイ表示を備えたタイムコード入力インタフェース。
    strong (d)
    |  角度入力インタフェースを同時調整する様子。
  p *第一著者の橋本は、産総研の協力研究員（論文メタデータの所属）としてだけでなく、独立したビジュアルアーティストとして本研究に取り組んだ。

block implementation
  p 
    | 本論文におけるプロのクリエータ向けのウィジェット設計に関する3原則に基づくリファレンス実装 <i>Tweeq</i> は Vue.js と TypeScript で開発され、 
    a(href='//github.com/baku89/tweeq')
      i.github.icon
      | GitHub
    |  でオープンソース公開されている。

block revision
  .event: .content
    .date 8/1/2025
    .summary <a href="https://uist.acm.org/2025/program.html">UIST採択論文一覧の仮公開</a>を受けて本ページの初版を掲載
