extends ../_layout

block vars
  - p = projectsTable['touchdevelop'];
  - title = p.getTitle(lang);
  - me = p.project + '/';

block main
  +render-project-header('touchdevelop')
  .ui.message
    block message
      | The live programming feature proposed in the paper is already shipped with the curent version of TouchDevelop. Test it 
      a(href='https://www.touchdevelop.com/docs/pages-and-boxes') in your web browser
      | !
  .ui.hidden.divider
  section#abstract
    h2.ui.header
      .content #{en ? 'Abstract' : '概要'}
    .ui.basic.segment
      block abstract
        p Live programming allows programmers to edit the code of a running program and immediately see the effect of the code changes. This tightening of the traditional edit-compile-run cycle reduces the cognitive gap between program code and behavior, improving the learning experience of beginning programmers while boosting the productivity of seasoned ones. Unfortunately, live programming is difficult to realize in practice as imperative languages lack well-defined abstraction boundaries that make live programming responsive or its feedback comprehensible.
        p This paper enables live programming for user interface programming by cleanly separating the rendering and non-rendering aspects of a UI program, allowing the display to be refreshed on a code change without restarting the program. A type and effect system formalizes this separation and provides an evaluation model that incorporates the code update step. By putting live programming on a more formal footing, we hope to enable critical and technical discussion of live programming systems.
        p
          | This work was done during my internship at Microsoft Research Redmond 
          a(href='http://research.microsoft.com/touchdevelop/') TouchDevelop team
          |  of 
          a(href='http://research.microsoft.com/rise/', title='Research in Software Engineering Group') RiSE Group
          | .
  .ui.hidden.divider
  section#presentations
    h2.ui.header #{en ? 'Presentation materials' : '発表内容'}
    .ui.basic.segment
      .ui.stackable.two.columns.grid
        .column
          h3.ui.header PLDI 2013 #{en ? 'Demo Video' : 'デモ動画'}
          +embed-youtube('//www.youtube.com/embed/GaVbYx-NN0o')
          .caption: .ui.horizontal.list
            .item
              a(href='//www.youtube.com/watch?v=GaVbYx-NN0o')
                i.youtube.icon
                | YouTube
        .column
          h3.ui.header !{en ? 'Experimental <abbr title="User Interface">UI</abbr>' : 'β版実装'}
          +embed-youtube('//www.youtube.com/embed/D1UB73y4GGo')
          .caption: .ui.horizontal.list
            .item
              a(href='//www.youtube.com/watch?v=D1UB73y4GGo')
                i.youtube.icon
                | YouTube
  block extra
  .ui.hidden.divider
  +render-project-publications('touchdevelop', 'pldi2013-kato-alive')
