doctype html
- const url = '/ja/science';
html(lang='en')
  head
    meta(http-equiv='refresh', content=`0; URL='${url}'`)
    title Redirecting ...
  body
    p: a(href=url) This content is currently only available in Japanese at #{url}.