extends ../../projects/index

block lang
  - var lang = 'ja';

block projects
  p このページでは加藤が関わってきた研究・開発・デザインに関するプロジェクトの一覧を見ることができます。グラフィックデザインとインタラクションデザインに絞った一覧は
    a(href=`${rootPath}ja/design`)
      i.paint.brush.icon
      | デザイン
    | のページでも確認できます。

block research
  p 研究者として、所属先の東京大学、Microsoft Research、産業技術総合研究所、アーチで取り組んできた研究プロジェクトの一覧です。

block design-and-engineering
  p デザインや開発に主眼が置かれたプロジェクトです。趣味またはプロボノ的活動として取り組んできました。
