extends ../../collaborations/index

block lang
  - var lang = 'ja';

block message
  | 外部連携や技術研修生のお問合せは
  a(href=`${rootPath}ja/#contact`) メールやソーシャルネットワークサービス
  | で受け付けています。

block popup-menu
  .ui.divided.list
    a.item(href='#tech-transfer')
      i.gift.icon
      .content 外部連携
    a.item(href='#collaborators')
      i.users.icon
      .content リサーチエンジニア・協力研究員
    a.item(href='#students')
      i.student.icon
      .content 技術研修生

block collaborations
    .ui.stackable.grid
      .eight.wide.column
        h2.ui.header#tech-transfer
          i.gift.icon
          | 外部連携
        p これまでに研究開発してきた創造性支援ツール・インタラクティブシステムは、大規模イベントでのライブやプログラミング・コンテスト、アニメ制作の現場、科学館のワークショップや大学院の講義などで活用されてきました。
        p 今後もより多くの現場で使われる研究成果を実現していきたいと考えているので、ご協力よろしくお願いいたします。
        dl
          dt: strong 共同研究や招待講演などのお問合せ:
          dd
            a(href=`${rootPath}ja/#contact`) 連絡先
            | へメールでご相談ください。
          dt: strong 学会運営委員などのご依頼:
          dd
            a(href=`${rootPath}ja/#contact`) 同じ連絡先
            | で承りますが、
            a(href=`${rootPath}ja/activities`) 溢れ気味
            | でお断りせざるを得ない場合が多いです。
          dt: strong 技術の利用:
          dd
            a(href='#services') 下記のサービス
            | はWeb上でお試しいただけます。教育用途や営利目的で利用されたい場合は、各システムの窓口（
            a(href='mailto:songle-sync-ml@aist.go.jp') Songle Sync
            | 、
            a(href='mailto:f3js-ml@aist.go.jp') f3.js
            | 、
            a(href='mailto:textalive-ml@aist.go.jp') TextAlive
            | ）へメールでご相談ください。
        +services()
      .eight.wide.column
        h2.ui.header#collaborators
          i.users.icon
          | リサーチエンジニア・協力研究員
        p 2018年から技術顧問としてアニメの企画開発プロデュース会社である<a href="https://archinc.jp">アーチ株式会社</a>の技術顧問を務めており、小規模ながら研究開発チームがあります。また、主務である<abbr title="産業技術総合研究所">産総研</abbr>でも、協力研究員などのかたちで研究開発に関わってくださる方々を受け入れています。
        .ui.list
          .item
            .header: a(href='https://research.archinc.jp/members/') Arch Research
            .meta 2019/04- アーチ株式会社 研究開発部門
          .item
            .header: a(href='https://baku89.com') 橋本 麦
            .meta 2023/02- <abbr title="産業技術総合研究所">産総研</abbr> 協力研究員
        h2.ui.header#students
          i.student.icon
          | 学生インターン
        p 主務である<abbr title="産業技術総合研究所">産総研</abbr>では、<abbr title="Human-Computer Interaction">HCI</abbr>分野の研究に興味のある学生を技術研修生として受け入れ、一緒に研究してきました。通常は以下のような内容ですが、期間や場所は応相談です。
        dl
          dt: strong 研究テーマ:
          dd 自由（一から企画立案して取り組むことを基本とします）
          dt: strong 立場:
          dd 技術研修生（履歴書に書くことができます）
          dt: strong 期間:
          dd 春休みか夏休みの1-2か月（前後も含め数か月で論文化を目指します）
          dt: strong 場所:
          dd 産総研つくば中央第二事業所（他の学生と一緒に泊まり込むことを基本とします）
        p モーションキャプチャ、3Dプリンタ、レーザーカッター、切削加工機や電子工作に必要な機材が揃っています。
        p <a href="https://research.archinc.jp">Arch Research</a>で受け入れ可能なこともあるかもしれません。アーチは代々木にオフィスがあります。
        h3.ui.header 過去の技術研修生
        p 多くの場合、複数の研究員が共同でメンタリングします。加藤が主に担当した学生は名前の前に
          i.check.circle.icon
          | が付いています。
        .ui.list
          .item
            .header 山根 壮一、小林 和弘
            .meta 奈良先端科学技術大学院大学（2014/09-10）
          .item
            .header: a(href='https://ryosuzuki.org/')
              i.check.circle.icon
              | 鈴木 遼
            .meta 東京大学大学院 経済学研究科 （2015/02-03）
          .item
            .header 赤堀 渉、
              a(href='https://www.komazawa-u.ac.jp/~thirai/') 平井 辰典
            .meta 早稲田大学 先進理工学部（2015/02-03）
          .item
            .header 吉館 要
            .meta 筑波大学 情報学群（2015/02-03）
          .item
            .header: a(href='https://site.kkunihir.com/') 加藤 邦拓
            .meta 明治大学大学院 理工学研究科 （2015/09-10）
          .item
            .header
              i.check.circle.icon
              | 若林 裕太、
              a(href='https://github.com/FMS-Cat/')
                i.check.circle.icon
                | 小渕 豊
            .meta 明治大学 総合数理学部（2015/09-10）
          .item
            .header: a(href='http://pushl.net/')
              i.check.circle.icon
              | 今井 朝貴
            .meta 東京工業大学大学院 情報理工学研究科（2015/09-10）
          .item
            .header: a(href='https://scrapbox.io/mactkg-pub/mactkg')
              i.check.circle.icon
              | 原 健太
            .meta 明治大学 総合数理学部（2016/02-03）
          .item
            .header 若狭 健太
            .meta 筑波大学 情報学群（2016/08-2016/09）
          .item
            .header: a(href='https://iis-lab.org/members/') 有賀 竣哉
            .meta 東京大学 工学系研究科（2016/09-2016/09）
          .item
            .header 吉館 要、
              a(href='https://hiromu.phd') 矢倉 大夢
            .meta 筑波大学 情報学群（2015/04-2017/03）
          .item
            .header: a(href='https://www.0x0c.me/profile/')
              i.check.circle.icon
              | 松田 暁
            .meta 東京大学大学院 学際情報学府（2017/02-2017/03）
          .item
            .header: a(href='https://sites.google.com/view/smygw72/home-jp') 宮川 翔貴
            //- en: https://sites.google.com/view/smygw72/home-en
            .meta 早稲田大学 先進理工学部（2017/08-2017/09）
          .item
            .header: a(href='https://73ch.work/') 浪川 洪作
            .meta 筑波大学 情報学群（2019/10-2021/03）
          .item
            .header: a(href='https://atarapi.com/')
              i.check.circle.icon
              | 新 由衣
            .meta 筑波大学 情報学群（2020/09-2022/09）
          .item
            .header: a(href='https://kamiwork.com/')
              i.check.circle.icon
              | 村上 貴人
            .meta 筑波大学 情報学群（2021/05-2025/03）
        h3.ui.header その他の学生向け情報
        p
          a(href='https://blog.junkato.jp/ja/') ブログ
          | で定期的に情報発信しています。サイドバーに学生向けのおすすめ記事をまとめてあります。
