extends ../../sharedo/index

block lang
  - var en = false, lang = 'ja', basePath = '/ja/';

block abstract
  p ユーザ間で To-do 共有が行える Web サービスにおいて、ロボットにユーザと同等の権限を与えて、ユーザとロボットの間でタスクの分業を行えるようにした試作システム Sharedo について報告する。本システムには、リスト単位で共有相手を選べる機能がついている。また、To-do ごとにコメント欄があり、曖昧な点について共有相手と対話できるようになっている。
  p
    | 本研究の詳細については、
    a(href='http://sharedo.digitalmuseum.jp/research/wiss2011') WISS 2011で登壇発表したときの資料ページ
    | が充実している。
  p
    | 本研究は
    a(href='http://rit.rakuten.co.jp/conf/rrds4/') 第4回 楽天研究開発シンポジウム
    | にて最優秀賞を受賞したほか、
    a(href='http://hai-conference.net/hai2014/program/')
      abbr(title='Human-Agent Interaction') HAI
      | 2014
    | でBest Paper Nomineeに選定された。システムのプロトタイプが 
    a(href='http://www.sharedo.info') http://www.sharedo.info
    |  で稼働中である。

block vision
  p 現時点では多くの家庭用ロボットの完成度は人に遠く及ばない。この間を縮める工学的な努力をやめるべきでないというのは論を待たないが、一方で、より至近の未来、実世界において我々が情報技術による恩恵に与るにはどうしたらよいだろうか。以下に、二つの未来ビジョンを提示したい。
  p まず、我々は、ロボットに全ての雑務を任せて人は移動式ベッドに寝そべるだけの全自動な未来ではなく、人が得意なことは人が、ロボットが得意なことはロボットが行う「積極的な分業」の未来こそが幸せな解であると考えている。現状でも家電製品がユーザの余暇時間を増やしており、これも分業の一形態ではあるが、人にかかる負担を減らすためだけに機械を用いる「消極的な分業」が多いのではないか。人が楽しんで創造性を発揮できることをロボットにさせない自由があるべきだ。本提案は、そのための第一歩として、タスクの実行主体を選ぶ権利をユーザに提供するシステムである。
  p 次に、我々は、人が情報システムの指示通りに実世界タスクをこなすことによって、自分でやり方を考えたときより楽にタスクをこなせる場合が多々あることに着目し、ロボットのように「自動的な人間」として動くことをもっと肯定的に捉えたいと考えている。例えば、本システムは掃除ロボットに回復不能なエラーが起きると人にタスクを割り当て、人をフェイルセーフとして利用することで掃除という大目標を確実に遂行できる。実社会ではOperations Researchが組織の意思決定に使われるなどマクロな応用例が目立つが、我々は個人単位のタスクに興味がある。例えば、Human Computationは遠隔地の知的労働力を計算能力に変換する手法だが、この実世界版としてHuman Actuationというものが可能ならどのような形態になるのか考えてみたい。
