/*!
 * # DEVICON v2.2
 */
@font-face{font-family:"devicon";src:url("fonts/devicon.eot?biu5f3");src:url("fonts/devicon.eot?biu5f3#iefix") format("embedded-opentype"),url("fonts/devicon.ttf?biu5f3") format("truetype"),url("fonts/devicon.woff?biu5f3") format("woff"),url("fonts/devicon.svg?biu5f3#devicon") format("svg");font-weight:normal;font-style:normal;font-display:block}[class^=devicon-],[class*=" devicon-"]{font-family:"devicon" !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.devicon-bootstrap-plain:before{content:""}.devicon-webpack-plain:before{content:""}.devicon-visualstudio-plain:before{content:""}.devicon-typescript-plain:before{content:""}.devicon-babel-plain:before{content:""}.devicon-github-plain:before{content:""}.devicon-d3js-plain:before{content:""}.devicon-csharp-plain:before{content:""}.devicon-css3-plain:before{content:""}.devicon-grunt-line:before{content:""}.devicon-gulp-plain:before{content:""}.devicon-html5-plain:before{content:""}.devicon-illustrator-plain:before{content:""}.devicon-java-plain:before{content:""}.devicon-javascript-plain:before{content:""}.devicon-jquery-plain:before{content:""}.devicon-less-plain-wordmark:before{content:""}.devicon-mysql-plain:before{content:""}.devicon-nodejs-plain:before{content:""}.devicon-photoshop-plain:before{content:""}.devicon-php-plain:before{content:""}.devicon-vim-plain:before{content:""}.devicon-wordpress-plain:before{content:""}.devicon-babel-plain.colored{color:#f9dc3e}.devicon-bootstrap-plain.colored{color:#59407f}.devicon-csharp-plain.colored{color:#68217a}.devicon-css3-plain.colored{color:#3d8fc6}.devicon-d3js-plain.colored{color:#f7974e}.devicon-github-plain.colored{color:#181616}.devicon-grunt-line.colored{color:#fcaa1a}.devicon-gulp-plain.colored{color:#eb4a4b}.devicon-html5-plain.colored{color:#e54d26}.devicon-illustrator-plain.colored{color:#faa625}.devicon-java-plain.colored{color:#ea2d2e}.devicon-javascript-plain.colored{color:#f0db4f}.devicon-jquery-plain.colored{color:#0769ad}.devicon-less-plain-wordmark.colored{color:#2a4d80}.devicon-mysql-plain.colored{color:#00618a}.devicon-nodejs-plain.colored{color:#83cd29}.devicon-photoshop-plain.colored{color:#80b5e2}.devicon-php-plain.colored{color:#6181b6}.devicon-typescript-plain.colored{color:#007acc}.devicon-vim-plain.colored{color:#179a33}.devicon-visualstudio-plain.colored{color:#68217a}.devicon-webpack-plain.colored{color:#1c78c0}.devicon-wordpress-plain.colored{color:#494949}
i[class*=" devicon-"],
i[class^="devicon-"] {
  font-family: "devicon" !important;
  line-height: inherit !important;
}
/*!
 * # junkato.jp
 */
/* /design */
body.design > .ui.text.fixed.menu {
  pointer-events: none;
}
body.design > .ui.text.fixed.menu > .menu {
  pointer-events: initial;
  margin-top: 0.5em;
  margin-left: 0.7em;
}
body.design > .ui.text.fixed.menu > .right.menu {
  margin-left: 0;
  margin-right: 0.7em;
}
body.design > .ui.text.fixed.menu > .menu > .item {
  background: rgba(255, 255, 255, 0.9);
  padding: 0.7em 0.8em;
  margin-left: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
body.design > .ui.text.fixed.menu > .menu > .item:first-child {
  padding: 0.7em 0.5em 0.7em 0.8em;
  margin-left: 0;
  border-top-left-radius: 0.4em !important;
  border-bottom-left-radius: 0.4em !important;
}
body.design > .ui.text.fixed.menu > .menu > .item:last-child {
  border-top-right-radius: 0.4em !important;
  border-bottom-right-radius: 0.4em !important;
}
body.design > .ui.dimmer {
  justify-content: center;
  align-items: center;
}
body.design #body > .hero-unit {
  padding: 5em 0.7em 2em 0.7em;
}
body.design #body > .hero-unit,
body.design #body > .hero-unit .ui.header {
  background: #eee;
  color: #000;
  text-shadow: none !important;
}
body.design #body > .ui.container {
  padding-top: 1em;
}
body.design #body > .ui.container > section {
  padding-top: 2em;
}
body.design #body > .ui.container > #portfolio > .ui.segment {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
body.design #body > .ui.container > #portfolio > .ui.segment > .ui.clearing.divider {
  margin-top: 2rem;
  margin-bottom: 0;
}
body.design #body > .ui.container .ui.segment > .image + h3.ui.header {
  font-size: 1.2em;
  margin: 0 0 1rem 0;
}
#portfolio .ui.horizontal.list > .item {
  margin: 0 0 0 0.3em;
}
#portfolio .ui.images > a.ui.image {
  cursor: pointer;
  width: auto;
  height: auto;
}
#portfolio .ui.images > .ui.image > img {
  width: auto;
  height: 70px;
}
#skillset .ui.list > .item > i.ellipsis.icon {
  color: #999;
}
#skillset .ui.list > .item > i.ellipsis.icon {
  padding-top: 0.054em;
}
#skillset .ui.list > .item > i.icon[class*=" devicon-"],
#skillset .ui.list > .item > i.icon[class^="devicon-"] {
  line-height: 1.4 !important;
}
