extends ../../intelliviewer/index

block lang
  - var lang = 'ja';

block abstract
  p キートップの最下列から順に、列ごとにネームスペース、クラス、メンバ変数とメソッドの一覧を表示し、統合開発環境においてソースコード内のナビゲーションを高速化するユーザインタフェースです。
    a(href='http://www.microsoft.com/appliedsciences/') Microsoft Applied Science Group
    | が
    a(href='http://www.microsoft.com/appliedsciences/content/projects/AdaptiveHardware.aspx') Adaptive Hardware
    | プロジェクトで開発したAdaptive Keyboardのプロトタイプ上で動作します。
  p
    | 研究室の有志による共同プロジェクトで、UIST 2010の
    a(href='http://www.acm.org/uist/uist2010/Student_Contest.html') Student Innovation Contest
    | に参加しました。
