extends ../_layout

block vars
  - var title = en ? 'Design' : 'デザイン';
  - var me = 'design/';

block header
  .ui.top.fixed.menu#fixed-menu
    .right.menu
      +right-header-menu()

block main-container
  h1.ui.header #{title}