doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='Jun Kato')
    meta(name='viewport', content='width=device-width,user-scalable=yes')
    link(rev='made', href='mailto:i@junkato.jp')
    title Resume of Jun Kato | junkato.jp
    style.
      @import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic&amp;subset=latin,latin-ext);

      body { margin: 0; padding: 0; font-size: 10.5pt; font-family: 'Merriweather', serif; line-height: 160%; }
      #menu { position: fixed; bottom: 0; width: 100%; background: #f6f6f6; border: solid #000; border-width: 1px 0 0 0; }
      #menu ul { height: 1em; margin: 0 auto; padding: 0 5px; }
      #menu li { float: left; margin: 5px 0; padding: 2px 7px; border: #ccc solid; border-width: 0 0 0 1px; }
      #menu li:first-child { border: none; }
      #menu ul, #menu li { list-style-type: none; }
      #menu a { border: none; }

      #container { margin: .5cm auto; padding-bottom: 2em; width: 180mm; }
      #updated { text-align: right; }

      h1, h2, hr { border: solid #000; border-width: 0 0 .75pt 0; }
      h1, h2 { margin: 1em 0 .5em 0; font-size: 21pt; }
      h1 { padding: 0 0 .6em 0; }
      h2 { padding: .4em 0; }
      h2 { font-size: 16pt; }

      h3 { margin: .4em 0 .2em 0; font-size: 12pt; }
      h4 { margin: .1em 0; font-size: 11pt; }

      h4.wp { margin: .3em 0 0 0; }
      h4.wp p { margin: .3em 0; color: #999; font-size: 10.5pt; }

      p, ul, dl { margin: .3em 0 .8em 0; padding: 0; }
      ul { margin-left: 2em; }

      a { color: #069; text-decoration: none; border-bottom: .75pt dashed #069; }
      a:hover { color: #c00; border-bottom-style: solid; border-bottom-color: #c00; }

      dt, dd, .left, .right { margin: 0; padding: 0; }
      dt, .left { float: left; }
      dd, .right { margin: .3em 0; }

      dt { width: 15%; }
      dd { margin-left: 15%; }
      dt::after { content: ":"; }

      span.award { color: #e99; }
      .left { width: 50%; }
      .right { margin-left: 50%; }
      .left *:first-child { margin-top: 0; }
      .secondary p { font-size: smaller; }

      hr { clear: both; margin-top: 2em; }

      @media only screen and (max-width: 960px) {
        #menu { position: static; background: none; border: none; }
        #menu li { margin-bottom: 0; }
        #menu li:first-child { padding-left: 0; }
        #menu li:first-child::before { content: "Table of Contents: "; }
        #container { padding-bottom: 0; }
        #updated { clear: left; margin-top: 0; padding-top: .3em; }
        dt { width: 25%; }
        dd { margin-left: 25%; }
      }
      @media only screen and (max-width: 180mm) {
        #container { width: inherit; }
      }
      @media print {
        #menu { display: none; }
        #container { margin-top: 0; padding-bottom: 0; }
        #updated { margin-top: 0; }
        body { font-size: 9pt; }
        h2 { font-size: 12pt; }
        h3 { font-size: 10.5pt; }
        h4 { font-size: 10pt; }
        h4.wp p { font-size: 9pt; }
        .page-break { page-break-before: always; }
        a { border: none; }
      }
  body
    #menu
      ul
        li 
          a(href='#interest') Research Interest
        li 
          a(href='#work') Work
          |  and 
          a(href='#professional') Professional
          |  Experience
        li 
          a(href='#education') Education
        li 
          a(href='#skills') Skills
        li 
          a(href='#honors') Honors
        li 
          a(href='#publications') Publications
        li 
          a(href='#services') Academic Services
        li 
          a(href='#references') References
    #container
      p#updated Updated: 9/23/2017
      h1 Jun Kato
      p
        | Jun Kato is a Human-Computer Interaction researcher at 
        a(href='http://www.aist.go.jp/index_en.html')
          abbr(title='National Institute of Advanced Industrial Science and Technology') AIST
        | , where he works on designing tools for programming interactive media content. He received a Ph.D in Computer Science from The University of Tokyo in March, 2014. Prior to graduation, he worked as research intern at Microsoft Research Asia, Redmond, and Adobe Research Seattle.
      p
        | He has regularly gained academic recognition such as Microsoft Research Asia Fellowship 2012, ACM 
        abbr(title='The SIGCHI conference on Human Factors in Computing Systems') CHI
        |  2013/2015 Best Paper Honorable Mention, and 
        abbr(title='Human-Agent Interaction') HAI
        |  2014 Best Paper Nominee.
      //        
        <p>3rd-year PhD candidate at Igarashi Laboratory, Department of Computer Science, Graduate School of Information Science and Technology, The University of Tokyo. Expected to graduate by the end of March 2014.</p>
        
      dl
        dt E-mail
        dd i@junkato.jp
        dt URL
        dd 
          a(href='https://junkato.jp') https://junkato.jp
      h2#interest Research Interest
      p Human-Computer Interaction, Human-Robot Interaction (Prototyping toolkits and integrated development environments for programming interactive media content)
      h2#work Work Experience
      h3
        | Researcher, 
        a(href='http://staff.aist.go.jp/m.goto/MIG/') Media Interaction Group
        | , 
        a(href='https://www.itri.aist.go.jp/en/') Information Technology Research Institute (ITRI)
        | , 
        a(href='http://www.aist.go.jp/index_en.html') National Institute of Advanced Industrial Science and Technology (AIST)
        |  (April 2014 - present)
      p Leading research projects to be published as academic papers and collaborating with companies to impact the society.
      h3
        | Research Intern, 
        a(href='http://www.adobe.com/technology.html')
          | Adobe Research 
          abbr(title='Creative Technologies Lab') CTL
        |  (August 2013 - November 2013)
      p
        | Worked with 
        a(href='http://www.adobe.com/technology/people/seattle/jovan-popovic.html') Jovan Popovic
        |  and 
        a(href='http://www.adobe.com/technology/people/san-francisco/joel-brandt.html') Joel Brandt
        | . Led a research project to be integrated into a new product.
      h3
        | Research Intern, 
        a(href='http://research.microsoft.com/rise/')
          | Microsoft Research Redmond 
          abbr(title='Research in Software Engineering') RiSE
          |  Group
        | (June 2012 - September 2012)
      p
        | Worked with 
        a(href='http://research.microsoft.com/en-us/people/sburckha/') Sebastian Burckhardt
        |  and 
        a(href='http://research.microsoft.com/en-us/um/people/moskal/') Michał Moskal
        | . Led a research project to be published as a paper at 
        a(href='#pldi2013-alive') PLDI'13
        | . Outcome integrated into a public 
        abbr(title='Web Integrated Development Environment') WIDE
        | , 
        a(href='http://www.touchdevelop.com/') TouchDevelop
        | .
      h3
        | Research Intern, 
        a(href='https://web.archive.org/web/20120408040100/http://research.microsoft.com/en-us/um/beijing/groups/hci/') Microsoft Research Asia HCI Group
        |  (January 2012 - April 2012)
      p
        | Worked with 
        a(href='http://caoxiang.net/') Xiang Cao
        |  and 
        a(href='http://research.microsoft.com/en-us/people/smcdirm/') Sean McDirmid
        | . Led a research project to be published as a paper at 
        a(href='#uist2012-dejavu') UIST'12
        | .
      h3
        | Intern, 
        a(href='http://www.ut-ec.co.jp/') The University of Tokyo Edge Capital
        |  (July 2010 - August 2010)
      p Led a team of 3 students. Surveyed previous effort of the industry on home automation and proposed a new business plan with simple prototype implementation.
      //        
        <p>Surveyed previous effort of the industry on home automation, including interviews to key persons in the industry. Learned basics of venture business, had much discussion with the team members and a support member who holds MBA, and got feedback from directors of the company to brush up the business plan, which was awarded at the briefing session of the internship.</p>
        
      h3
        | Software Development Engineer Intern, 
        a(href='http://microsoft.com/') Microsoft
        |  (August 2009 - September 2009)
      p Implemented an online code reviewing tool to improve the team's productivity.
      //        
        <p>The system was designed to raise productivity by focusing on two points: 1. To complete process of code review at most on the intranet website, 2. To provide comfortable user experience on a simple workflow with Ajax-enabled webpage.</p>
        <p>Learned development process in Microsoft(MS) as well as many MS technologies such as C# 3.0, .NET Framework, ASP.NET, ASP.NET Ajax, ASP.NET MVC, Transact-SQL, LINQ with SQL, and Windows Communication Foundation.</p>
        
      h3
        | Assistant Researcher, 
        a(href='http://designinterface.jp/en/') JST ERATO IGARASHI Design UI Project
        |  (April 2008 - March 2013)
      p Implemented a GUI simulator for mobile robots. Made a FTIR multi-touch display, etc.
      //        
        <p>Implemented a simulated graphical user interface (GUI) environment with which users can control movements of robots. The system consists of a simulator, an interpreter for a Java-like original programming language, and GUI.</p>
        <p>Made a FTIR multi-touch display and implemented a new interface for controlling movements of mobile robots on it. The system was demonstrated in a domestic top-tie conference and was published as described in <a href="#chi2009">Publications</a>.</p>
        
      h3 Website design and system contractor (2005 - present)
      //        
        <p>Implemented a PHP framework. It consists of XHTML template engine, contents management system and prototype implementation of social networking system.</p>
        
      p
        | Designed and made websites from scratch such as 
        a(href='http://ut-life.net/') UT-Life
        | , 
        a(href='http://sci.gr.jp/') SCI
        |  and 
        a(href='http://digitalmuseum.jp/') digitalmuseum
        | .
      h2#professional Professional Experience
      h3
        | JSPS 
        a(href='http://www.jsps.go.jp/english/e-pd/pddc.htm') Research Fellowships for Young Scientists (DC1)
        |  (April 2011 - March 2014)
      p Funded $18,000 for three years ($6,000 for each year) as a research fellow.
      h3
        | Microsoft Research Asia 
        a(href='http://research.microsoft.com/en-us/collaboration/global/asia-pacific/talent/fellows.aspx#b1ab333b-9141-4718-8c56-f27f3cfbbcc1', title='Microsoft Research Asia Fellows') Fellowship
        |  (2012)
      p Awarded among around one hundred Ph.D candidates and funded $10,000 for a year.
      h3
        | Principal Investigator, 
        a(href='http://research.microsoft.com/en-us/collaboration/global/asia-pacific/regions/japan-ijarc.aspx', title='Microsoft Institute for Japanese Academic Research Collaboration') Microsoft IJARC
        |  
        a(href='http://research.microsoft.com/en-us/collaboration/global/asia-pacific/regions/japan-core.aspx')
          abbr(title='Collaborative Research') CORE
        |  Program (April 2011 - March 2012)
      p Funded $15,000 for a year as a principal investigator of a research project.
      h3
        | Project Leader, 
        a(href='http://www.ipa.go.jp/index-e.html')
          abbr(title='Information-technology Promotion Agency') IPA
        |  
        a(href='http://www.ipa.go.jp/english/humandev/third.html', title='Exploratory IT Human Resources Project') MITOH Program
        |  (December 2008 - August 2009)
      p Funded $70,000 for half a year as a project leader of an exploratory software project. Developed a software toolkit for prototyping robot applications.
      //        
        <p>Proposed &quot;Matereal : an Easy-to-use Toolkit for Controlling Various Home Robots&quot; and was adopted as one of the exploratory software project. Designed and developed the toolkit.</p>
        
      h2#education Education
      h3 PhD Computer Science, The University of Tokyo, Tokyo Japan (April 2011 - March 2014)
      p
        | Concentration: Integrated development environment with graphical representations for development of programs with real-world input and output,
        br
        | Igarashi Lab.
      h3 MS Computer Science, The University of Tokyo, Tokyo Japan (April 2009 - March 2011)
      p
        | Concentration: Prototyping toolkit for robotic things,
        br
        | Igarashi Lab.
      h3 BS Information Science, The University of Tokyo, Tokyo Japan (April 2005 - March 2009)
      p
        | Concentration: User interface for mobile robots,
        br
        | Igarashi Lab.
      h2#skills Skills
      h3 Language Skills
      dl
        dt Japanese
        dd Native
        dt English
        dd Full professional procifiency; TOEFL iBT score 94/120 (2008); TOEIC 970/990 (2015)
      h3 Computer Skills
      dl
        dt Languages
        dd TypeScript, C#, Java, JavaScript, C, PHP, MySQL, (X)HTML, Processing, Scheme, ...
        dt Platforms
        dd Windows, Mac OS X, Linux
      h2#honors.page-break Honors
      h3
        | Best Paper Award at 
        a(href='http://www.maynoothuniversity.ie/smc15/') SMC 2015
      p
        | Co-authored a research paper about 
        a(href='#smc2015-crosssong') CrossSong
        | , an interactive music-based puzzle game where puzzles are automatically generated by the system.
      h3
        | Best Paper Honorable Mention Award at 
        a(href='http://chi2015.acm.org/program/best-of-chi/#honorable-mentions') CHI 2015
      p
        | Presented 
        a(href='#chi2015-textalive') TextAlive
        | , an integrated design environment for kinetic typography.
      h3
        | Best Paper Award at 
        a(href='http://wiss.org/WISS2014/')
          abbr(title='Workshop on Interactive Systems and Software') WISS
          |  2014
      p
        | Presented TextAlive, a web-based system for creating and editing Kinetic Typography movies with help of automatic lyric-song synchronization and live programming. 
        em: abbr(title='Workshop on Interactive Systems and Software') WISS
        |  is the most premier venue for publishing research on interactive systems in Japan.
      h3
        | Best Paper Nominee at 
        a(href='http://hai-conference.net/hai2014/program/#oct31')
          abbr(title='Human-Agent Interaction') HAI
          |  2014
      p
        | Presented 
        a(href='#hai2014-sharedo') Sharedo
        | , a web-based interface for sharing tasks between humans and agents.
      h3
        | Best Presentation Award at 
        a(href='http://www.ipsj.or.jp/english/index.html')
          abbr(title='Information Processing Society of Japan') IPSJ
        |  104th 
        abbr(title='Special Interest Group on Music and Computer') SIGMUS
      p Presented TextAlive. English information is not publicly available at this moment regarding an ongoing anonymous submission.
      h3 
        a(href='http://www.jidp.or.jp/en/')
          abbr(title='Japan Institute of Design Promotion') JDP
        |  
        a(href='http://www.g-mark.org/award/describe/40508') Good Design Award
        |  2013
      p
        | For the collaborative project 
        a(href='https://junkato.jp/openpool/') OpenPool
        |  for which I worked as one of the main programmers.
      h3
        | Finalist in 
        a(href='http://www.cs.utexas.edu/~isil/pldi13-src/') ACM Student Research Competition
        |  at 
        a(href='http://pldi2013.ucombinator.org/') PLDI 2013
      p
        | Presented 
        a(href='#gi2014-visionsketch') VisionSketch
        | , a live programming environment for image processing.
      h3
        | Best Paper Honorable Mention Award at 
        a(href='http://chi2013.acm.org/program/best-of-chi/') CHI 2013
      p
        | Presented 
        a(href='#chi2013-picode') Picode
        | , a text-based development environment integrated with inline photos.
      h3 
        a(href='http://research.microsoft.com/en-us/collaboration/global/asia-pacific/talent/fellows.aspx#2012') Microsoft Research Asia Fellowship 2012
        |  Award
      p
        | Won the fellowship (10 recipients out of 94 candidates) for 
        a(href='http://blogs.technet.com/b/inside_microsoft_research/archive/2012/10/26/14-years-of-inspiring-asia-pacific-ph-d-candidates.aspx') outstanding contributions
        |  of the 
        a(href='#uist2012-dejavu') DejaVu
        |  project.
      h3
        | Best Research and Development Award at 
        a(href='http://rit.rakuten.co.jp/conf/rrds4/index_en.html') 4th Rakuten R&amp;D Symposium
      p
        | Presented a web service for sharing tasks between humans and robots described in 
        a(href='#hai2014-sharedo') Publications
        | .
        em 
          a(href='http://global.rakuten.com/corp/company/') Rakuten, Inc.
        |  is a famous Japan-based company of internet services.
      h3
        | Best of Emerging Technology Award in 
        a(href='http://www.siggraph.org/s2009/galleries_experiences/emerging_technologies/details/?type=etech&id=152') ACM SIGGRAPH 2009 Emerging Technologies
      p
        | Presented a multi-touch interface for controlling home appliances described in 
        a(href='#siggraph2009-cristal') Publications
        | .
      h3
        | 1st Place in 
        a(href='https://src.acm.org/winners/2010') ACM Student Research Competition
        |  at 
        a(href='https://web.archive.org/web/20161024101431/http://www.chi2009.org/') CHI 2009
      p
        | Presented a multi-touch interface for controlling multiple mobile robots described in 
        a(href='#chi2009-multirobot') Publications
        | .
      h2#publications.page-break Publications
      h3 Journal paper
      h4#jnmr2017.wp 
        a(href='http://dx.doi.org/10.1080/09298215.2017.1303519') The CrossSong Puzzle: Developing a Logic Puzzle for Musical Thinking
        p Journal of New Music Research
      p
        | Jordan Smith,
        b Jun Kato
        | , Satoru Fukayama, Graham Percival and Masataka Goto, The CrossSong Puzzle: Developing a Logic Puzzle for Musical Thinking. In
        i Journal of New Music Research
        | (2017). Taylor &amp; Francis, 1-16.
      h4#ieeecomputer2016.wp 
        a(href='http://dx.doi.org/10.1109/MC.2016.217') Programming with Examples to Develop Data-Intensive User Interfaces
        p
          | IEEE Computer (
          span.award Special Issue on 21st Century User Interfaces
          | )
      p
        b Jun Kato
        | , Masataka Goto and Takeo Igarashi, Programming with Examples to Develop Data-Intensive User Interfaces. In
        i IEEE Computer
        | (2016). IEEE, Vol. 49, Issue 7, 34-42.
      h4#ipsj2011.wp 
        a(href='http://ci.nii.ac.jp/naid/110008507978/en') Andy: A Toolkit for Developing Mobile Robot Applications with a Ceiling-mounted Camera and Visual Markers
      p
        b Jun Kato
        | , Daisuke Sakamoto, Masahiko Inami and Takeo Igarashi, Andy: A Toolkit for Developing Mobile Robot Applications with a Ceiling-mounted Camera and Visual Markers. In
        i Transactions of Information Processing Society of Japan
        | (2011). IPSJ, 
        a(href='http://ci.nii.ac.jp/naid/110008507978/en') Vol. 52, No. 4
        | , 1425-1437.
      h3 Refereed international conference and workshop papers
      h4#dis2017-f3js.wp 
        a(href='http://doi.acm.org/10.1145/3064663.3064681') f3.js: A Parametric Design Tool of Physical Computing Devices for Both Interaction Designers and End-users
        p ACM DIS '17 (acceptance rate: 22%)
      p
        b Jun Kato
        | and Masataka Goto. In
        i DIS '17: Proceedings of the 2017 ACM Conference on Designing Interactive Systems
        | (Edinburgh, UK, June, 2017). 1099-1110.
      h4#px2017-evd.wp 
        a(href='http://doi.acm.org/10.1145/3079368.3079403') User-Generated Variables: Streamlined Interaction Design for Feature Requests and Implementations
        p Programming PX '17
      p
        b Jun Kato
        | and Masataka Goto. In
        i Proceedings of the Programming Experience 2017 (PX/17) Workshop
        | (Brussels, Belgium, April 4, 2017). 28:1-28:7
      h4#live2016-tuning.wp 
        a(href='https://junkato.jp/live-tuning/') Live Tuning: Expanding Live Programming Benefits to Non-Programmers
        p ECOOP LIVE '16
      p
        b Jun Kato
        | and Masataka Goto. In
        i Proceedings of LIVE '16: Proceedings of the Second Workshop on Live Programming Systems
        | (Rome, Italy, July 17, 2016).
      h4#iui2016-playlist.wp 
        a(href='http://dx.doi.org/10.1145/2856767.2856809') PlaylistPlayer: An Interface Using Multiple Criteria to Change the Playback Order of a Music Playlist
        p ACM IUI '16
      p
        | Tomoyasu Nakano,
        b Jun Kato
        | , Masahiro Hamasaki and Masataka Goto. In
        i Proceedings of IUI '16: Proceedings of the 21st International Conference on Intelligent User Interfaces
        | (Sonoma, CA, USA, March 7 - 10, 2016). 186-190.
      h4#smc2015-crosssong.wp 
        a(href='https://staff.aist.go.jp/jun.kato/CrossSong/') CrossSong Puzzle: Generating and Unscrambling Music Mash-ups with Real-time Interactivity
        p
          | SMC '15 (
          span.award Best Paper Award
          | )
      p
        | Jordan B. L. Smith, Graham Percival,
        b Jun Kato
        | , Masataka Goto and Satoru Fukayama. In
        i Proceedings of SMC '15: Proceedings of the 12nd Sound and Music Computing Conference
        | (Maynooth, Ireland, July 26 - August 1, 2015). 61-67.
      h4#iclc2015-textalive.wp 
        a(href='http://dx.doi.org/10.5281/zenodo.19355') TextAlive Online: Live Programming of Kinetic Typography Videos with Online Music
        p ICLC '15
      p
        b Jun Kato
        | , Tomoyasu Nakano and Masataka Goto. In
        i Proceedings of ICLC '15: Proceedings of the First International Conference on Live Coding
        | (Leeds, UK, July 13 - 15, 2015). Zenodo of 
        abbr(title='Conseil Europeen pour la Recherche Nucleaire') CERN
        | , Genève, 199-205.
      h4#chi2015-textalive.wp 
        a(href='http://dx.doi.org/10.1145/2702123.2702140') TextAlive: Integrated Design Environment for Kinetic Typography
        p
          | ACM CHI '15 (
          span.award Best Paper Honorable Mention Award
          | , acceptance rate: 25%)
      p
        b Jun Kato
        | , Tomoyasu Nakano and Masataka Goto. In
        i Proceedings of CHI '15: Proceedings of the SIGCHI conference on Human Factors in Computing Systems
        | (Seoul, Korea, April 18 - 23, 2015). ACM, New York, NY, 3403-3412.
      h4#hai2014-sharedo.wp 
        a(href='http://doi.acm.org/10.1145/2658861.2658894') Sharedo: To-do List Interface for Human-agent Task Sharing
        p
          | HAI '14 (
          span.award Best Paper Nominee
          | )
      p
        b Jun Kato
        | , Daisuke Sakamoto, Takeo Igarashi and Masataka Goto. In
        i Proceedings of the Second International Conference on Human-Agent Interaction
        | (Tsukuba, Japan, October 7 - 9, 2014). ACM, New York, NY, 345-351.
      h4#gi2014-visionsketch.wp 
        a(href='http://dl.acm.org/citation.cfm?id=2619648.2619668') VisionSketch: Integrated Support for Example-Centric Programming of Image Processing Applications
        p GI '14
      p
        b Jun Kato
        | and Takeo Igarashi. In
        i Proceedings of the 2014 Graphics Interface Conference
        | (Montreal, QC, Canada, May 7 - 9, 2014). Canadian Information Processing Society, Toronto, ON, Canada, 115-122.
      h4#gcce2013-openpool.wp 
        a(href='http://dx.doi.org/10.1109/GCCE.2013.6664790') OpenPool: Community-based Prototyping of Digitally-augmented Billiard Table
        p IEEE GCCE '13
      p
        b Jun Kato
        | , Takashi Nakashima, Hideki Takeoka, Kazunori Ogasawara, Kazuma Murao, Toshinari Shimokawa and Masaaki Sugimoto. In
        i Proceedings of the 2nd IEEE Global Conference on Consumer Electronics
        | (Tokyo, Japan, October 1 - 4, 2013). IEEE, 175-176.
      h4#pldi2013-alive.wp 
        a(href='https://doi.org/10.1145/2499370.2462170') It's Alive! Continuous Feedback in UI Programming
        p ACM PLDI '13 (acceptance rate: 17%)
      p
        | Sebastian Burckhardt, Manuel Fahndrich, Peli de Halleux,
        b Jun Kato
        | , Sean McDirmid, Michal Moskal and Nikolai Tillmann.In
        i Proceedings of the 34th ACM SIGPLAN conference on Programming Language Design and Implementation
        | (Seattle, WA, USA, June 16 - 19, 2013). ACM, New York, NY, 95-104.
      h4#chi2013-picode.wp 
        a(href='http://dx.doi.org/10.1145/2470654.2466422') Picode: Inline Photos Representing Posture Data in Source Code
        p
          | ACM CHI '13 (
          span.award Best Paper Honorable Mention Award
          | , acceptance rate: 20%)
      p
        b Jun Kato
        | , Daisuke Sakamoto and Takeo Igarashi. In
        i Proceedings of CHI '13: Proceedings of the SIGCHI conference on Human Factors in Computing Systems
        | (Paris, France, April 27 - May 2, 2013). ACM, New York, NY, 3097-3100.
      h4#uist2012-dejavu.wp 
        a(href='http://dx.doi.org/10.1145/2380116.2380142') DejaVu: Integrated Support for Developing Interactive Camera-Based Programs
        p ACM UIST '12 (acceptance rate: 22%)
      p
        b Jun Kato
        | , Sean McDirmid and Xiang Cao. In
        i Proceedings of the 25th annual ACM symposium on User interface software and technology
        | (Boston, NY, USA, October 7 - 10, 2012). ACM, New York, NY, 189-196.
      h4#dis2012-phybots.wp 
        a(href='http://dx.doi.org/10.1145/2317956.2317996') Phybots: A Toolkit for Prototyping Robotic Things
        p ACM DIS '12 (acceptance rate: 20%)
      p
        b Jun Kato
        | , Daisuke Sakamoto and Takeo Igarashi. In
        i Proceedings of the 9th conference on Designing Interactive Systems
        | (Newcastle Upon Tyne, UK, June 11 - 15, 2012). ACM, New York, NY, 248-257.
      h3 Refereed international conference posters and demonstrations
      h4#hri2017-robocam.wp 
        a(href='https://doi.org/10.1145/3029798.3036666') A Robotic Framework for Video Recording and Authoring
        p ACM/IEEE HRI '17 demonstration
      p
        b Jun Kato
        | and Masataka Goto. In
        i HRI '17 Companion: Proceedings of the Companion of the 2017 ACM/IEEE International Conference on Human-Robot Interaction
        | (Vienna, Austria, March 6 - 9, 2017). ACM, New York, NY, 41-41.
      //        
        <h4 id="chi2016-japan" class="wp"><a href="http://dx.doi.org/10.1145/2702613.2702638">Japanese HCI Symposium: Emerging Japanese HCI Research Collection</a><p>ACM CHI '15 extended abstracts (symposium proposal)</p></h4>
        <p>Kohei Matsumura, Masa Ogata, Saki Sakaguchi, Takashi Ijiri, Takeshi Nishida, <b>Jun Kato</b>, Hiromi Nakamura, Daisuke Sakamoto, and Yoshifumi Kitamura. In <i>CHI '16 EA: Extended Abstracts on Human Factors in Computing Systems</i> (San Jose, CA, USA, May 7 - 12, 2016). ACM, New York, NY, 3325-3330.</p>
        
      h4#uist2015-f3js.wp 
        a(href='http://doi.acm.org/10.1145/2815585.2817797') Form Follows Function(): An IDE to Create Laser-cut Interfaces and Microcontroller Programs from Single Code Base
        p ACM UIST '15 demonstration
      p
        b Jun Kato
        | and Masataka Goto. In
        i UIST '15 Adjunct: Adjunct Proceedings of the 28th Annual ACM Symposium on User Interface Software and Technology
        | (Charlotte, NC, USA, November 8 - 11, 2015). ACM, New York, NY, 43-44.
      //        
        <h4 id="chi2015-japan" class="wp"><a href="http://dx.doi.org/10.1145/2702613.2702638">Japanese HCI Symposium: Emerging Japanese HCI Research Collection</a><p>ACM CHI '15 extended abstracts (symposium proposal)</p></h4>
        <p><b>Jun Kato</b>, Hiromi Nakamura, Yuta Sugiura, Taku Hachisu, Daisuke Sakamoto, Koji Yatani, and Yoshifumi Kitamura. In <i>CHI '15 EA: Extended Abstracts on Human Factors in Computing Systems</i> (Seoul, Korea, April 18 - 23, 2015). ACM, New York, NY, 2321-2324.</p>
        
      h4#chi2014-capstudio.wp 
        a(href='http://doi.acm.org/10.1145/2559206.2581138') CapStudio: An Interactive Screencast for Visual Application Development
        p ACM CHI '14 extended abstracts
      p
        | Koumei Fukahori, Daisuke Sakamoto,
        b Jun Kato
        | and Takeo Igarashi. In
        i CHI '09 EA: Extended Abstracts on Human Factors in Computing Systems
        | (Toronto, ON, Canada, April 26 - May 1, 2014). ACM, New York, NY, 1435-1458.
      h4#uist2013-phd.wp 
        a(href='http://dx.doi.org/10.1145/2508468.2508476') Integrated Visual Representations for Programming with Real-world Input and Output
        p ACM UIST '13 doctoral symposium
      p
        b Jun Kato
        | . In
        i Adjunct proceedings of the 26th annual ACM symposium on User interface software and technology
        | (New York, NY, USA, October 1 - 3, 2010). ACM, New York, NY, 57-60.
      h4#uist2010-surfboard.wp 
        a(href='http://dx.doi.org/10.1145/1866218.1866233') Surfboard: Keyboard with Microphone as a Low-cost Interactive Surface
        p ACM UIST '10 demonstration
      p
        b Jun Kato
        | , Daisuke Sakamoto and Takeo Igarashi. In
        i Adjunct proceedings of the 23nd annual ACM symposium on User interface software and technology
        | (New York, NY, USA, October 1 - 3, 2010). ACM, New York, NY, 387-388.
      h4#uist2009-andy.wp 
        a(href='https://junkato.jp/publications/uist2009-sakamoto-andy.pdf') A Toolkit for Easy Development of Mobile Robot Applications with Visual Markers and a Ceiling Camera
        p ACM UIST '09 poster
      p
        | Daisuke Sakamoto,
        b Jun Kato
        | , Masahiko Inami and Takeo Igarashi.
        i 22nd Symposium on User Interface Software and Technology
        | (Victoria, BC, Canada, October 4 - 7, 2009).
      h4#siggraph2009-cristal.wp 
        a(href='http://www.siggraph.org/s2009/galleries_experiences/emerging_technologies/details/?type=etech&id=152') CRISTAL: Control of Remotely Interfaced Systems Using Touch-Based Actions in Living Spaces
        p
          | ACM SIGGRAPH '09 demonstration (
          span.award Best of Emerging Technology Award
          | )
      p
        | Thomas Seifried, Christian Rendl, Florian Perteneder, Jakob Leitner, Michael Haller, Daisuke Sakamoto,
        b Jun Kato
        | , Masahiko Inami and Stacey Scott.
        i SIGGRAPH 2009 Emerging Technologies
        | (New Orleans, USA, August 3 - 7, 2009).
      h4#chi2009-multirobot.wp 
        a(href='http://dx.doi.org/10.1145/1520340.1520500') Multi-touch Interface for Controlling Multiple Mobile Robots
        p
          | ACM CHI '09 student reseach competition (
          span.award 1st Place
          | )
      p
        b Jun Kato
        | , Daisuke Sakamoto, Masahiko Inami and Takeo Igarashi. In
        i CHI '09 EA: Extended Abstracts on Human Factors in Computing Systems
        | (Boston, MA, USA, April 4 - 9, 2009). ACM, New York, NY, 3443-3448.
      h2#services.page-break Academic Services
      p Information on domestic academic services is omitted. Send an inquiry to me for the details.
      h3 Conference Organizer
      ul
        li
          | Program Committee for 
          a(href='https://2018.programming-conference.org', title='The International Conference on the Art, Science, and Engineering of Programming') &lt;Programming&gt; 2018
          |  conference
        li
          | Program Committee for 
          a(href='http://2017.splashcon.org/home', title='The ACM SIGPLAN conference on Systems, Programming, Languages and Applications: Software for Humanity') ACM SPLASH 2017 
          a(href='http://2017.splashcon.org/track/px-17-2') PX/17.2
          |  and 
          a(href='https://2017.splashcon.org/track/live-2017') LIVE
          |  workshops
        li
          | Program Committee for 
          a(href='https://uist.acm.org/uist2017/#program-committee', title='The 30th annual ACM symposium on User Interface Software and Technology') ACM UIST 2017
        li
          | Program Committee for 
          a(href='http://2016.ecoop.org/home', title='The International Conference on the Art, Science, and Engineering of Programming') &lt;Programming&gt; 2017 
          a(href='http://2017.programming-conference.org/track/px-2017/', title='The second edition of the Programming Experience workshop') PX/17.1
          |  workshop
        li
          | Organizing Committee for 
          a(href='http://hci.tokyo/chi2017/') ACM CHI 2017 Symposium on Emerging Japanese HCI Research Collection
        li
          | Demo &amp; Video Co-chair for 
          a(href='http://humanrobotinteraction.org/2017/', title='The 2017 Conference on Human-Robot Interaction') IEEE/ACM HRI 2017
        li
          | Program Committee (Associate Chair) for 
          a(href='https://chi2017.acm.org/select-subcommittee.html#engineering-interactive-systems', title='The 2017 ACM CHI Conference on Human Factors in Computing Systems') ACM CHI 2017
          |  "Engineering Interactive Systems and Technologies"
        li
          | Publicity Co-chair for 
          a(href='http://iss2016.acm.org/', title='The 2016 ACM International Conference on Interactive Surfaces and Spaces') ACM ISS 2016
        li
          | Program Committee for 
          a(href='http://2016.ecoop.org/home', title='The 30th European Conference on Object-Oriented Programming') ECOOP 2016 
          a(href='http://2016.ecoop.org/track/PX-2016', title='The first edition of the Programming Experience workshop') PX
          |  and 
          a(href='http://2016.ecoop.org/track/LIVE-2016', title='The second workshop on Live Programming systems') LIVE
          |  workshops
        li
          | Student Volunteer Chair for 
          a(href='https://uist.acm.org/uist2016/organizers', title='The 29th annual ACM symposium on User Interface Software and Technology') ACM UIST 2016
        li
          | Organizing Committee for 
          a(href='http://hci.tokyo/chi2016') ACM CHI 2016 Symposium on Emerging Japanese HCI Research Collection
        li
          | Organizing Committee for 
          a(href='http://hci.tokyo/chi2015') ACM CHI 2015 Symposium on Emerging Japanese HCI Research Collection
        li
          | Program Committee for 
          a(href='http://hai-conference.net/hai2014/', title='2nd International Conference on Human-Agent Interaction') HAI 2014
        li
          | Program Committee for 
          a(href='https://www.acm.org/uist/uist2014/organizers.php', title='The 27th annual ACM symposium on User Interface Software and Technology') ACM UIST 2014
        li
          | Publicity Co-chair for 
          a(href='https://www.acm.org/uist/uist2013/organizers.php', title='The 26th annual ACM symposium on User Interface Software and Technology') ACM UIST 2013
      h3 Reviewer
      ul
        // <li>35th ACM Conference on Human Factors in Computing Systems (ACM CHI 2017)</li> 
        li The 2017 ACM SIGCHI Conference on Designing Interactive Systems (ACM DIS 2017)
        li The 12th ACM/IEEE International Conference on Human-Robot Interaction (ACM/IEEE HRI 2017)
        li The 11th ACM/IEEE International Conference on Human-Robot Interaction (ACM/IEEE HRI 2016)
        li 34th ACM Conference on Human Factors in Computing Systems (ACM CHI 2016)
        li The 28th annual ACM symposium on User Interface Software and Technology (ACM UIST 2015)
        li The 24th International Symposium on Robot and Human Interactive Communication (IEEE RO-MAN 2015)
        li The 42nd International Conference and Exhibition on Computer Graphics and Interactive Techniques (ACM SIGGRAPH 2015)
        li 33rd ACM Conference on Human Factors in Computing Systems (ACM CHI 2015)
        li 2nd International Conference on Human-Agent Interaction (HAI 2014)
        li The 27th annual ACM symposium on User Interface Software and Technology (ACM UIST 2014)
        li 3rd IEEE Global Conference on Consumer Electronics (IEEE GCCE 2014)
        li 2nd IEEE Global Conference on Consumer Electronics (IEEE GCCE 2013)
        li 20th ACM Multimedia Conference (ACM MM 2012)
        li 8th International Conference on Advances in Computer Entertainment Technology (ACE 2011)
        li 10th IPSJ Forum on Information Technology (FIT 2011)
        li 7th International Conference on Advances in Computer Entertainment Technology (ACE 2010)
        li 28th ACM Conference on Human Factors in Computing Systems (ACM CHI 2010)
      h3 Miscellaneous
      ul
        li
          | Organized 12nd Joint Seminar on 
          a(href='http://sigchi.jp/seminar/chi2017/') "Reading All CHI Papers in One Day"
          | , June 25, 2017.
        li
          | Founded 
          a(href='http://sigpx.org/en/', title='Special Interest Group on Programming Experience') SIGPX
          | , 2016.
        li Served as a teaching assistant of the "Media Informatics" course for graduate students at The University of Tokyo, Summer 2016.
        li
          | Organized 11th Joint Seminar on 
          a(href='http://hci.tokyo/seminar/chi2016/') "Reading All CHI Papers in One Day"
          | , June 26, 2016.
        li
          | Organized 10th Joint Seminar on 
          a(href='http://hci.tokyo/seminar/chi2015/') "Reading All CHI Papers in One Day"
          | , June 27, 2015.
        li Organized annual symposiums for Japanese researchers and creators of visual media to foster future collaborations for four years in a row since 2012.
        li
          | Consulted user interface design for 
          a(href='http://en.wikipedia.org/wiki/Gargantia_on_the_Verdurous_Planet') new animated television series
          | , October, 2011.
        li Organized 6th Joint Seminar on "Reading All CHI Papers in One Day", September 8, 2011.
        li Served as a teaching assistant of the "Media Informatics" course for graduate students at The University of Tokyo, Winter 2008.
      h2#references References
      h3
        | Prof. 
        a(href='http://www-ui.is.s.u-tokyo.ac.jp/~takeo/') Takeo Igarashi
      p Dept. of Computer Science, The University of Tokyo, Tokyo, Japan
      h3
        | Dr. 
        a(href='https://staff.aist.go.jp/m.goto/') Masataka Goto
      p National Institute of Advanced Industrial Science and Technology (AIST), Ibaraki, Japan
      .secondary
        .left
          h3
            | Dr. 
            a(href='http://caoxiang.net/') Xiang Cao
          p Lenovo Research &amp; Technology, Beijing, China
          h3
            | Dr. 
            a(href='https://www.microsoft.com/en-us/research/people/sburckha/') Sebastian Burckhardt
          p Microsoft Research, Redmond, WA, USA
          h3
            | Dr. 
            a(href='http://www.adobe.com/technology/people/seattle/jovan-popovic.html') Jovan Popovic
          p Adobe Research, Seattle, WA, USA
        .right
          h3
            | Dr. 
            a(href='https://harc.ycr.org/member/sean_mcdirmid/') Sean McDirmid
          //<p>Microsoft Research, Beijing, China</p>
          p
            | Y Combinator Research 
            abbr(title='Human Advancement Research Community') HARC
            | , USA
          h3
            | Dr. 
            a(href='http://moskal.me/') Michał Moskal
          p Microsoft Research, Redmond, WA, USA
          h3
            | Dr. 
            a(href='http://www.adobe.com/technology/people/san-francisco/joel-brandt.html') Joel Brandt
          p Adobe Research, San Francisco, CA, USA
      hr
      p
        | Other details can be found on 
        a(href='https://junkato.jp/') Jun Kato's portfolio website
        | .