include ./resume/_style
include ./resume/_menu
include ./resume/_profile
include ./resume/_work
include ./resume/_grants
include ./resume/_education
include ./resume/_honors
include ./resume/_publications
include ./resume/_innovations
include ./resume/_services
include ./resume/_references

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='Jun Kato')
    meta(name='viewport', content='width=device-width,user-scalable=yes')
    link(rev='made', href='mailto:i@junkato.jp')
    title Resume of Dr. Jun Kato
    +style()
  body
    - let updated = "8/19/2023"
    #menu: +menu()
    #container
      p#updated Updated: #{updated}
      #profile: +profile()
      #work: +work()
      #grants: +grants()
      #innovations: +innovations()
      #education: +education()
      #honors: +honors()
      #publications: +publications()
      #services: +services()
      #references: +references()
      footer
        hr
        p &copy; Jun Kato #{/[0-9]+$/.exec(updated)}
