extends ../../animare/index

block lang
  - var lang = 'ja';

block news
  .event: .content
    .date 2026/3/29
    .summary プロジェクト関連の発表文献を追加（例: <a href="https://junkato.jp/publications/undonecs2026-kato-anime-rnd.pdf">UndoneCS '26 講演</a>）
  .event: .content
    .date 2025/12/30
    .summary Animareのビジュアルを更新
  .event: .content
    .date 2025/12/19
    .summary 公式ページへのリンクを追加
  .event: .content
    .date 2025/9/14
    .summary プロジェクトページを仮公開
