extends ../../openpool/index

block lang
  - var lang = 'ja';

block message
  p OpenPool is a collaborative open-source project developed at 
    a(href='http://github.com/openpool/openpool-core') GitHub
    | . The official site is 
    a(href='http://www.openpool.cc/') openpool.cc
    | .
  p: +translate('openpool/index.pug')
