extends ../../openpool/index

block lang
  - var lang = 'ja';

block message
  p OpenPool is a collaborative open-source project developed at 
    a(href='https://github.com/openpool/openpool-core') GitHub
    | . The official site is 
    a(href='http://www.openpool.cc/') openpool.cc
    | .
  p: +translate('openpool/index.pug')

block project-header
  - additionalLabels.push('<span class="ui tiny red basic label"><i class="trophy icon"></i>\'13 グッドデザイン賞</span>');
  +render-project-header('openpool', additionalLabels)
