doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='加藤 淳')
    meta(property='fb:admins', content='503220390')
    link(rev='made', href='mailto:i@junkato.jp')
    title OpenPool | junkato.jp
    // Styles 
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Droid+Sans')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    link(href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css', rel='stylesheet')
    // Le HTML5 shim, for IE6-8 support of HTML5 elements 
    //      [if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]
  body
    .navbar.navbar-default.navbar-fixed-top(data-dropdown='dropdown', role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation')
            span.sr-only ナビの表示を切り替える
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/ja/') 加藤 淳
        #navigation.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/ja/#about') 自己紹介
            li
              a(href='/ja/#projects') プロジェクト
            li
              a(href='/ja/publications/') 受賞歴と発表文献
            li
              a(href='/ja/fun/') お楽しみ
            li
              a(href='/ja/#contact') 連絡先
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/ja/blog/')
                | ブログ
                i.blog.glyphicon.glyphicon-pencil
            li
              a(href='/openpool/')
                | English
                i.translation.glyphicon.glyphicon-text-background
    // container 
    .container
      section
        h1 OpenPool: Open-source Billiard Table as an Interactive Surface
        p
          span.label.label-default
            i.glyphicon.glyphicon-calendar
            | '12-13
          span.label.label-info(rel='tooltip')
            i.glyphicon.glyphicon-tag
            | Toolkit
          span.label.label-info(rel='tooltip', data-original-title='Natural User Interface')
            i.glyphicon.glyphicon-tag
            | NUI
          span.label.label-danger(rel='tooltip')
            i.glyphicon.glyphicon-folder-open
            | SxSW '13 Gaming Expo, Trade Show
        .alert.alert-info
          | OpenPool is a collaborative open-source project developed at
          a(href='http://github.com/openpool/openpool-core') GitHub
          | . 日本語の情報はただいま準備中です。
      section
        h2 概要
        .row
          .col-sm-8.col-md-9
            p
              | People love playing games. Games have been a good way to build social relations with others. Therefore, studying the impact of digital augmentation on such experience has been an interesting research topic in the field of Human-Computer Interaction. Ishii et al. proposed PingPongPlus
              a(href='#ppp') [1]
              | , a novel way of augmenting ping pong table with a set of microphone array in 1999. The project later became an open-source project in 2011
              a(href='#pppp') [2]
              | , which needed some soldering to be deployed. We walk the same line with PingPongPlus, but with a billiard table and off-the-shelf hardware products.
            p In this page, we introduce OpenPool, an open-source project that augments a standard billiard table with the cutting-edge computing technologies to provide the "super-billiard" experience.
          .col-sm-4.col-md-3
            .thumbnail
              img(src='/thumbnails/openpool.jpg', alt='OpenPool')
      section
        .row
          .col-md-6
            h2 実装
            p OpenPool is an open-source project that aims to be installed at as many places as possible so that more people can enjoy the super-billiard experience. Its hardware is easy to be deployed at any billiard tables and its software is easy to be installed on personal computers running Windows or Mac.
            p Furthermore, the basic features of the software such as ball detection and pocket detection are exposed as simple APIs of Processing libraries. Therefore, the programmer can easily design his/her own super-billiard experience. There are currently two libraries: base library and pocket detection library. In the following subsections, we describe these libraries in detail.
            h3 OpenPool core library
            pre.prettyprint.linenums OpenPool op = new OpenPool(this);

op.updateBalls();
for (int i = 0; i < op.balls; i ++) {
  Ball ball = op.balls[i];
  ellipse(ball.x, ball.y, 10, 10);
  if (ball.prev != null) {
    line(ball.x, ball.y, ball.prev.x, ball.prev.y);
  }
}
            p Minimum hardware setup of OpenPool consists of off-the-shelf products: two depth cameras ("Kinect" by Microsoft), a projector and a personal computer. Given the hardware setup, OpenPool base library computes ball positions and provide the information through simple APIs.
            p The computation is a simple image processing pipeline. First, with some callibrations of the camera positions, two depth images from the cameras form one depth map on the billiard table. Then, the ball positions on the table are estimated from the depth map by background substraction and blob detection.
            h3 OpenPool pocket detection library
            pre.prettyprint.linenums OpenpoolBoostPocket p = new OpenpoolBoostPocket(this, "COM4");
p.start();

int[] pockets = p.getPockets();
for (int i = 0; i < pockets.length; i++) {
  if (pockets[i] > 0) {
    print(pockets[i]);
    print(" balls fell in the pocket no.");
    println(i + 1);
  }
}
            p With the base library, the programmer can design a basic effect that responds to the ball positions. Though, the ball detection is not always stable due to environmental noise. This stability issue makes it difficult to design effect that fires when a ball falls into a pocket.
            p To address the issue, we provide a set of additional hardware and software named "boost kit." The hardware is implemented with mbed and some basic sensors, whose circuit design is published as an open-hardware project. Future work includes devleopment of more boost kits for various purposes such as collision detection.
          .col-md-6
            .thumbnail
              iframe(src='https://www.facebook.com/video/embed?video_id=608850275796418', width='100%', height='315', frameborder='0', allowfullscreen='')
            .thumbnail
              iframe(src='https://www.facebook.com/video/embed?video_id=614971478517631', width='100%', height='315', frameborder='0', allowfullscreen='')
            .thumbnail
              iframe(src='https://www.facebook.com/video/embed?video_id=615808058433973', width='100%', height='315', frameborder='0', allowfullscreen='')
      section
        h2 関連研究
        ol
          li#ppp
            a(href='http://tangible.media.mit.edu/project/pingpongplus/') PingPongPlus
          li#pppp
            a(href='http://pppp.media.mit.edu/') PingPong++
        h2 発表文献
        ul
          li#gcce2013-kato-openpool(data-numpages='2')
            u Jun Kato
            | , Takashi Nakashima, Hideki Takeoka, Kazunori Ogasawara, Kazuma Murao, Toshinari Shimokawa, Masaaki Sugimoto,
            b "OpenPool: Community-based Prototyping of Digitally-augmented Billiard Table"
            | , In
            i GCCE '13: Proceedings of the 2nd IEEE Global Conference on Consumer Electronics
            | . pp.175-176, Oct. 2013.
            .btn-group.biblinks
              a(href='http://dx.doi.org/10.1109/GCCE.2013.6664790')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/gcce2013-kato-openpool.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/gcce2013-kato-openpool-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{gcce2013-kato-openpool,
  title={OpenPool: Community-based Prototyping of Digitally-augmented Billiard Table},
  author={Jun Kato and Takashi Nakashima and Hideki Takeoka and Kazunori Ogasawara and Kazuma Murao and Toshinari Shimokawa and Masaaki Sugimoto}
  booktitle={GCCE '13: Proceedings of the 2nd IEEE Global Conference on Consumer Electronics},
  pages={175--176},
  year={2013}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
        h2#press Press Coverage
        .row
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://www.engadget.com/2013/03/09/openpool/', title='engadget')
              img(width='150', height='45', src='http://www.openpool.cc/wp-content/uploads/engadget-150x45.jpg', alt='engadget')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://gizmodo.com/OpenPool/', title='Gizmodo')
              img(width='150', height='21', src='http://www.openpool.cc/wp-content/uploads/Gizmodo-150x21.png', alt='Gizmodo')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://austin.culturemap.com/newsdetail/03-13-13-the-5-coolest-things-at-the-sxswi-trade-show/', title='austin')
              img(width='150', height='28', src='http://www.openpool.cc/wp-content/uploads/austin-150x28.png', alt='austin')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://blog.laptopmag.com/openpool-lets-fish-and-lights-dance-and-play-with-moving-objects', title='laptop')
              img(width='150', height='49', src='http://www.openpool.cc/wp-content/uploads/laptop.png', alt='laptop')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://www.techhive.com/article/2030378/five-highlights-from-the-sxsw-gaming-expo.html', title='techhive')
              img(width='150', height='49', src='http://www.openpool.cc/wp-content/uploads/techhive.png', alt='techhive')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://blip.tv/dargadgetz/openpool-open-source-super-billiards-at-sxsw-2013-6551425', title='blip')
              img(width='150', height='76', src='http://www.openpool.cc/wp-content/uploads/blip.png', alt='blip')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://gearburn.com/2013/03/7-of-the-best-gadgets-of-sxsw/', title='gearburn')
              img(width='150', height='33', src='http://www.openpool.cc/wp-content/uploads/gearburn.png', alt='gearburn')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://www.jeuxvideo.org/index.php/2013/03/14/kinect-un-projecteur-et-un-billard-openpool/', title='jeuxvideo')
              img(width='150', height='41', src='http://www.openpool.cc/wp-content/uploads/jeuxvideo.png', alt='jeuxvideo')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://www.roclay.com/techbuzz/openpool-change-your-billiards-game-with-kinects-camera-controlled-lights', title='qclay')
              img(width='150', height='48', src='http://www.openpool.cc/wp-content/uploads/qclay.png', alt='qclay')
          .col-xs-3.col-sm-4.col-md-4
            a.thumbnail(href='http://www.thecoolgeek.net/openpool-transforms-billiards-with-a-kinect-camera-controlled-light-show/', title='thecoolgeek')
              img(width='150', height='33', src='http://www.openpool.cc/wp-content/uploads/thecoolgeek.png', alt='thecoolgeek')
      footer
        hr
        p
          | ©
          a(href='mailto:i@junkato.jp') 加藤 淳
          | 2012-2017 |
          a(href='/openpool/')
            | English
            i.translation.glyphicon.glyphicon-text-background
      // Scripts 
      script(src='//code.jquery.com/jquery-1.11.3.min.js')
      script(src='/js/bootstrap.min.js')
      script(type='text/javascript') (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2538649-10', 'auto');
  ga('send', 'pageview');

  $(function(){
    var a = $('a.bibtex'), lastTooltip = null;
    a.tooltip({ trigger: "manual", html: true, template: '<div class="tooltip bibtex"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' });
    a.click(function(e){ e.preventDefault(); if (lastTooltip !== this) $(lastTooltip).tooltip('hide'); lastTooltip = this; $(lastTooltip).tooltip('toggle'); return false; });
  });
      script(src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js')
      script $(function(){
  $('h1 p span.label').tooltip();
  window.prettyPrint && prettyPrint();
});
    // /container 