extends ../../programming-as-communication/index

block lang
  - var lang = 'ja';

block abstract
  p コンピュータが人々の生活にも仕事にも溶け込み、プログラミングはこれまで以上に身近で、複雑な事象を扱うようになった。そこで、
    a(href=`${basePath}programming-with-examples`) プログラミングの方法を根本的に改善する
    | 必要がある。既存研究は多くの場合、特定の技術的背景を持った人々（
    a(href=`${basePath}live-programming`) プログラマ
    | , エンドユーザ, データサイエンティストなど）にとってのプログラミング体験を向上することで問題の解決を図ってきた。
  p 一方、本研究はプログラミングを、多様な技術的背景を持った人々を伴った、よりインクルーシブで協調的な行為にすることを目指す。「プログラミング環境」は必ずしも「プログラマ」のためだけの環境である必要はない。本研究はそうした環境を、多様な人々を受け止められるように設計することを目指す。
  p そうしたインクルーシブな環境において、人々はプログラミングを通してコミュニケーションを取り、全ての人々がプログラミングの便益を享受でき、ひいてはエンパワーメントを高められると考えている。
  a.ui.fluid.bordered.image(href=`${rootPath}programming-as-communication/programming-as-communication.png`)
    img(src=`${rootPath}programming-as-communication/programming-as-communication.png`)
  .caption: p OTON GLASSプロジェクトでは、プログラミング環境を、ハードウェア部品とソフトウェア<abbr title="Application Programming Interfaces">API</abbr>からなるツールキットのような人工物だけでなく、ツールキットの利用を手助けしてくれる有機的存在──エヴァンジェリストの存在を前提に設計した。

block technical-effort
  p 以下のプロジェクトが「Programming as Communication」のビジョンを実現する具体例です。いずれも技術面での工夫を折り込んだインタラクションデザインとなっています。

block social-effort

block news
  .event: .content
    .date 4/1/2020
    .summary 初版をアップロードしました。
