extends ../../programming-as-communication/index

block lang
  - var lang = 'ja';

block abstract
  p コンピュータが人々の生活にも仕事にも溶け込み、プログラミングはこれまで以上に身近で、複雑な事象を扱うようになった。そこで、
    a(href=`${basePath}programming-with-examples`) プログラミングの方法を根本的に改善する
    | 必要がある。既存研究は多くの場合、特定の技術的背景を持った人々（
    a(href=`${basePath}live-programming`) プログラマ
    | , エンドユーザ, データサイエンティストなど）にとってのプログラミング体験を向上することで問題の解決を図ってきた。
  p 一方、本研究はプログラミングを、多様な技術的背景を持った人々を伴った、よりインクルーシブで協調的な行為にすることを目指す。「プログラミング環境」は必ずしも「プログラマ」のためだけの環境である必要はない。本研究はそうした環境を、多様な人々を受け止められるように設計することを目指す。
  p そうしたインクルーシブな環境において、人々はプログラミングを通してコミュニケーションを取り、全ての人々がプログラミングの便益を享受でき、ひいてはエンパワーメントを高められると考えている。

block presentation-description
  .ui.list
    .item YouTube版は音量が調整され、字幕もついています。Vimeo版は加藤の発表に続いて<a href="https://tcher.tech/">Philip Tchernavskij</a>氏によるクリティークとQ&amp;Aセッションの録画がついています。
    .item Convivial Computing Salon 2020については<a href="https://2020.programming-conference.org/home/salon-2020">サロンの公式サイト</a>をご覧ください。
    .item 論文はページ下部<a href="#publications">発表文献</a>からダウンロードできます。

block technical-effort
  img.ui.fluid.bordered.image(src=`${rootPath}programming-as-communication/runtime-env-as-programming-env.png`)
  .caption: p 以下のプロジェクトは多様な人々の協調を支援するインタラクションデザインの設計を通して「Programming as Communication」を実現した例です。

block social-effort
  img.ui.fluid.bordered.image(src=`${rootPath}programming-as-communication/evangelist-in-env.png`)
  .caption: p
    a(href="https://otonglass.jp/") OTON GLASS
    | プロジェクトでは、プログラミング環境を、ハードウェア部品とソフトウェア<abbr title="Application Programming Interfaces">API</abbr>からなるツールキットのような人工物だけでなく、ツールキットの利用を手助けしてくれる有機的存在──エヴァンジェリストの存在を前提に設計しています。
  h3.ui.header 関連リンク
  .ui.divided.small.list
    .item
      i.right.triangle.icon
      .content: a(href="https://scrapbox.io/otonglass-fabbiotope/%E7%94%A3%E6%A5%AD%E6%8A%80%E8%A1%93%E7%B7%8F%E5%90%88%E7%A0%94%E7%A9%B6%E6%89%80%E3%81%A8%E3%81%AE%E5%85%B1%E5%90%8C%E7%A0%94%E7%A9%B6%E3%82%92%E9%96%8B%E5%A7%8B%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F") 産業技術総合研究所との共同研究を開始しました - OTON GLASS／FabBiotope
    .item
      i.right.triangle.icon
      .content: a(href="https://2020.programming-conference.org/details/salon-2020-papers/6/Rethinking-Programming-Environment-Technical-and-Social-Environment-Design-towar") Rethinking Programming &quot;Environment&quot; (Convivial Computing Salon 2020) - ‹Programming› 2020

block news
  .event: .content
    .date 5/15/2020
    .summary 論文のプレプリントを追加しました。
  .event: .content
    .date 5/9/2020
    .summary プレゼンテーションの録画とスライド資料を追加しました。
  .event: .content
    .date 4/1/2020
    .summary 初版をアップロードしました。
